<template>
    <div class="content container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Наименование документа</th>
                        <th>№ Документа</th>
                        <th>Дата утверждения</th>
                        <th>Дата создания</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody v-if="documents">
                    <tr v-for="(document, index) in documents">
                        <td>{{document.id}}</td>
                        <td>{{document.name}}</td>
                        <td>{{document.number}}</td>
                        <td>{{document.approved_at}}</td>
                        <td>{{document.created_at}}</td>
                        <td>
                            <router-link :to="{ name: 'document-show', params:{ doc: document.id } }" class="btn btn-success btn-xs">
                                <i class="fa fa-eye"></i>
                            </router-link>
                            <span class="btn btn-primary btn-xs"><i class="fa fa-print"></i></span>
                            <b-button @click="deleteDoc(index)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></b-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "archive",
        data() {
            return {
                loading: false,
                documents: null,
                error: null,
                responseMessage: null,
            };
        },
        created() {
            this.getList();
        },
        mounted() {

        },
        watch: {
            error: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.e(newVal);
                }
            },
            responseMessage: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.s(newVal);
                }
            },
        },
        methods:{
            getList() {
                this.error = this.documents = null;
                this.loading = true;
                axios.get('document')
                    .then(response => {
                        this.loading = false;
                        this.documents = response.data.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            deleteDoc(document){
                let id = this.documents[document].id;
                axios({
                    url: 'document/' + id,
                    method: 'DELETE',
                }).then(response => {
                    this.documents.splice(document,1);
                    this.responseMessage = response.data.message || false;
                }).catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.formErrors = error.response.data.errors ;
                });
            },
        }
    }
</script>

<style scoped>

</style>