<template>
    <div class="content container">
        <div class="row">
            <div class="col-md-12" v-if="documents" style="background-color: #FFFFFF; padding: 15px">
                <b-table bordered="bordered"
                         hover="hover"
                         :items="documents"
                         :fields="tableSettings">
                    <template slot="created" slot-scope="data">
                        {{data.item.updated_at || data.item.created_at}}
                    </template>
                    <template slot="user" slot-scope="data">
                        {{data.item.user ? data.item.user.name : 'Пользователь удален.'}}
                    </template>
                    <template slot="actions" slot-scope="data">
                        <b-button :to="{ name: 'document-show', params:{ doc: data.item.id } }" variant="success" size="sm">
                            <i class="fa fa-eye"></i>
                        </b-button>
                        <b-button v-if="data.item.template_id" :to="{ name: 'document-edit', params:{ doc: data.item.id } }" variant="primary" size="sm">
                            <i class="fa fa-pencil"></i>
                        </b-button>
                        <b-button v-else variant="default" disabled size="sm">
                            <i class="fa fa-pencil"></i>
                        </b-button>
                        <b-button @click="print(data.item)"  variant="primary" size="sm"><i class="fa fa-print"></i></b-button>
                        <b-button @click="deleteDoc(data.item)" variant="danger" size="sm"><i class="fa fa-trash"></i></b-button>
                    </template>
                </b-table>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "documents-list",
        data() {
            return {
                loading: false,
                documents: null,
                error: null,
                responseMessage: null,
                styles:'',
                tableSettings:[
                    {
                        key: 'id',
                        label: '#ID',
                    },
                    {
                        key: 'name',
                        label: 'Наименование документа',
                    },
                    {
                        key: 'number',
                        label: '№ документа',
                    },
                    {
                        key: 'created',
                        label: 'Создан/изменен',
                    },
                    {
                        key: 'user',
                        label: 'автор',
                    },
                    {
                        key: 'actions',
                        label: 'Действия',
                        variant: 'secondary',
                        class: 'text-center w-180'
                    }
                ],
            };
        },
        created() {
            this.getList();
            this.getCss();
        },
        mounted() {

        },
        watch: {
            error: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.e(newVal);
                }
            },
            responseMessage: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.s(newVal);
                }
            },
        },
        methods:{
            getList() {
                this.error = this.documents = null;
                this.loading = true;
                axios.get('document')
                    .then(response => {
                        this.loading = false;
                        this.documents = response.data.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            print(item) {
                const prtHtml = item.html;
                let title = item.name +
                    '(№' +( item.number || '--')
                    + ') от ' + (item.date);
                const printStyles = this.styles;
                let stylesHtml = '<style>' + printStyles + '</style>';

                const WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,status=0');

                WinPrint.document.write(`<!DOCTYPE html><html><head>${stylesHtml}</head><body>${prtHtml}</body></html>`);
                WinPrint.document.title = title;
                WinPrint.document.close();
                WinPrint.focus();
                WinPrint.print();
                WinPrint.close();
            },
            getCss(){
                this.axios.get('print-css')
                    .then(response => {
                        this.styles = response.data.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            deleteDoc(document){
                console.log(document);
                let id = document.id;
                axios({
                    url: 'document/' + id,
                    method: 'DELETE',
                }).then(response => {
                    this.documents.splice(this.documents.findIndex(i => i.id === document.id),1);
                    this.responseMessage = response.data.message || false;
                }).catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.formErrors = error.response.data.errors ;
                });
            },
        }
    }
</script>

<style scoped>

</style>