<template>
    <b-container>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <h1>Шаблон: {{template.name}}</h1>
            </b-col>
        </b-row>
        <b-row class="justify-content-md-center">
                <div style="flex: 0 0 50%;z-index: 3">
                    <b-form-input v-model="editedDocument.name"
                                  type="text"
                                  aria-describedby="inputNameHelp"
                                  placeholder="Служебное наименование"></b-form-input>
                    <b-form-text id="inputNameHelp">
                        Служебное наименование
                    </b-form-text>
                </div>
                <div style="flex: 0 0 16.666667%;z-index: 3">
                    <b-form-input v-model="editedDocument.number"
                                  type="text"
                                  aria-describedby="inputNumberHelp"
                                  placeholder="№ документа"></b-form-input>
                    <b-form-text id="inputNumberHelp">
                        № документа
                    </b-form-text>
                </div>
                <div style="flex: 0 0 16.666667%;z-index: 3">
                    <b-form-input v-model="editedDocument.approved_at"
                                  type="date"
                                  aria-describedby="inputApprovedHelp"
                                  placeholder="дата утверждения"></b-form-input>
                    <b-form-text id="inputApprovedHelp">
                        Дата утверждения
                    </b-form-text>
                </div>
                <div style="flex: 0 0 8.333333%;z-index: 3">
                    <b-btn variant="success"  class="w-100"
                           @click="sendDocument">
                        update
                    </b-btn>
                </div>
            <div style="flex: 0 0 8.333333%;z-index: 3">
                    <b-btn variant="info" class="w-100"
                           @click="sendDocument(true)">
                        create
                    </b-btn>
            </div>
        </b-row>
        <b-row class="mt-3">
            <b-col cols="4" class="left-menu" v-if="!loading">
                <div class="unit-menu">
                    <ul v-if="orders.length > 0">
                        <li v-for="(menu, pIndex) in orders" class="u-title" v-if="menu.units.length > 1">
                            <label>
                                {{menu.order_title}}
                            </label>
                            <ul v-if="menu.units">
                                <li v-for="(item, uIndex) in menu.units" class="u-item">
                                    <label>
                                        <input @click="prepareUnit(item, true)" :checked="activeUnits.findIndex(x => x.id === item.id) > -1"
                                               type="radio"
                                               :name="'order' + pIndex">
                                        {{item.name}}
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </b-col>
            <b-col cols="8">
                <div class="a-format">
                    <form id="fill-document" style="width: 16.5cm">
                        <div :class="{ 'unit' : true }"
                             v-for="(unit, uIndex) in activeUnits" :key="unit.id">
                            <div v-html="unit.content"></div>
                        </div>
                    </form>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import initEvents from './fillHelper';
    export default {
        name: "doc-edit",
        props: ['doc'],
        data() {
            return {
                editedDocument: {
                    id: null,
                    name: '',
                    user_id: null,
                    template_id: null,
                    number: '',
                    approved_at: '',
                    units:[],
                    replies_json: '',
                },
                template: {
                    id:null,
                    name:'',
                    units:[],
                },
                replies:[],
                orders:[],
                loading: true,
                activeUnits: [],
            }
        },
        created(){
            this.editedDocument.id = this.$route.params.doc;
            this.editedDocument.user_id = this.$auth.user().id;
            this.getDocument();
        },
        updated() {
            initEvents();
        },
        methods:{
            getDocument() {
                this.error = null;
                this.loading = true;
                axios.get('document/' + this.editedDocument.id)
                    .then(response => {
                        this.loading = false;
                        this.editedDocument = response.data.data;
                        this.renderTemplate();
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            renderTemplate() {
                this.error = null;
                this.loading = true;
                axios.get('templates/' + this.editedDocument.template_id)
                    .then(response => {
                        this.template = response.data.data;
                        this.renderMenu();
                        this.loading = false;
                    }).catch(error => {
                    this.loading = false;
                    console.log(error);
                    this.error = error.response.message || error.message;
                });
            },
            renderDocument: function() {
                console.log('render-doc');
                let unitList = this.activeUnits;
                this.replies = JSON.parse(this.editedDocument.replies_json);
                unitList.forEach(i => {
                    this.prepareUnit(i, false, true);
                });
            },
            prepareUnit: function (unit, replaceUnit = false, fill = false) {
                let replace;
                let forReplace;
                const types = {
                    'text'      : 'Текстовое поле',
                    'number'    : 'Введите число',
                    'directory' : 'Автозаполнение из справочника',
                    'date'      : 'Выберите дату',
                    'select'    : 'Выберите из списка',
                };
                let renderBlock = document.createElement('div');
                let content = unit.content;
                renderBlock.innerHTML = content;
                let inputs = renderBlock.querySelectorAll('.input');
                inputs.forEach(input => {
                    if(input.tagName === 'SELECT'){
                        forReplace = input.outerHTML;
                        if(fill){
                            let val = this.replies.shift();
                            console.log('value: '+val);
                            input.removeAttribute('readonly');
                            input.querySelectorAll('option').forEach(opt => {
                                console.log(opt);
                                if(opt.getAttribute('value') === val){
                                    opt.setAttribute('selected','selected');
                                }
                            });
                            replace = input;
                            console.log(replace);
                        }
                    } else {
                        forReplace = input.outerHTML;
                        replace = document.createElement('label');
                        let type = input.getAttribute('data-type');
                        replace.setAttribute('data-type', type);
                        if (input.hasAttribute('data-dir')) {
                            replace.setAttribute('data-dir', input.getAttribute('data-dir'));
                        }
                        replace.setAttribute('contenteditable', 'true');
                        replace.setAttribute('title', types[type]);
                        replace.setAttribute('class', 'input new');
                        replace.setAttribute('data-placeholder', input.getAttribute('placeholder'));
                        if(fill){
                            let val = this.replies.shift();
                            replace.innerText = val ? val : input.getAttribute('placeholder');
                        } else {
                            replace.innerText = input.getAttribute('placeholder');
                        }
                    }
                    content = content.replace(forReplace, replace.outerHTML);
                });
                unit.content = content;
                if(replaceUnit){
                    this.activeUnits.splice(unit.order, 1);
                    this.activeUnits.splice(unit.order, 0, unit);
                }
            },
            renderMenu() {
                let unitList = this.template.units;
                for (let index in unitList){
                    if(unitList[index].order === this.orders.length) {
                        this.orders.push({'units': [],'order_title': unitList[index].order_title });
                    }
                    this.orders[unitList[index].order].units.push(unitList[index]);
                    if (this.editedDocument.units.findIndex(u => u.id === unitList[index].id) !== -1){
                        this.activeUnits.push(unitList[index]);
                    }
                };
                initEvents();
                this.renderDocument();
                // this.inputList = JSON.parse(this.editableItem.inputs);
            },
            sendDocument(newDocument = false) {
                let method = 'PUT';
                let inputs = document.querySelectorAll('.input');
                let inputData = [];
                inputs.forEach(i => {
                    let value = '';
                    if(i.tagName === 'SELECT'){
                        value = i.value;
                    } else if (i.childNodes[0].nodeValue !== i.getAttribute('data-placeholder')){
                        value = i.childNodes[0].nodeValue;
                    }
                    inputData.push(value);
                });
                let formData = {};
                Object.keys(this.editedDocument).map(i => {
                    formData[i] = this.editedDocument[i];
                });

                formData['units'] = this.activeUnits.map(function(unit) {
                    return unit.id;
                });
                formData['user_id'] = this.editedDocument.user_id;
                formData['replies'] = inputData;
                if (newDocument){
                    method = 'POST';
                    delete formData['id'];
                }
                this.axios({
                    url: 'document' + (newDocument ? '' : '/' + this.editedDocument.id),
                    method: method,
                    data: formData,
                }).then(response => {
                        console.log(response.data);
                        this.$router.push({ name: 'document-show', params:{ doc: (response.data.data.id)} });
                    }).catch(error => {
                    this.errors = error.response.data.errors || [error.message];
                });
            },
        }
    }
</script>

<style scoped>

</style>