<template>
    <b-container fluid>
        <b-row class="justify-content-md-center fixed-center-menu">
            <sticky-buttons>
                <b-btn :to="{name: 'main-documents' }" exact>Шаблоны SUNRIZEⒸ</b-btn>
                <b-btn :to="{name: 'user-documents' }" exact>Мои шаблоны</b-btn>
                <b-btn :to="{name: 'documents-list' }" exact>Мои документы</b-btn>
                <b-btn :to="{name: 'documents-archive'}" exact>Архив</b-btn>
            </sticky-buttons>
        </b-row>
        <b-row>
            <transition name="fade" mode="out-in">
                <router-view class="child-view justify-content-md-center container"></router-view>
            </transition>
        </b-row>
    </b-container>
</template>

<script>
    import StickyButtons from '../elements/StickyButtons'
    export default {
        components : {
            StickyButtons
        },
        name: "documents-index",
        mounted() {

        },
        methods:{

        }
    }
</script>

<style scoped>

</style>