<template>
    <div class="document-show">
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <h1>{{userDocument.name}}</h1>
            </b-col>
        </b-row>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto" id="docContainer">
                <div v-html="userDocument.html" id="show-document"></div>
            </b-col>
        </b-row>
    </div>
</template>

<script>

    export default {
        name: "doc-show",
        props: {
            doc: null
        },
        data() {
            return {
                id: null,
                userDocument: {
                    content: '',
                    name: '',
                    replies_json: '',
                    user_id: null,
                    units: [],
                    date: '',
                },
                styles: '',
            }
        },
        created() {
            this.id = this.$route.params.doc;
            this.userDocument.user_id = this.$auth.user().id;
            this.getDocument();
        },
        methods: {
            getDocument() {
                this.error = null;
                this.loading = true;
                this.axios.get('document/' + this.id)
                    .then(response => {
                        this.loading = false;
                        this.userDocument = response.data.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
        }
    }
</script>

<style scoped>

</style>