<template>
    <b-container>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <h1>Шаблоны</h1>
            </b-col>
        </b-row>
        <b-row class="justify-content-md-center">
            <b-col cols="6" v-if="accLoad">
                <b-list-group>
                    <b-list-group-item v-for="template in mainTemplates"
                                       :key="template.id"
                                       :to="{ name: 'document-create', params: { tpl: template.id}}"
                                       variant="secondary">
                        {{template.name}}
                    </b-list-group-item>
                </b-list-group>
            </b-col>

        </b-row>
    </b-container>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    export default {
        name: "main-templates",
        data() {
            return {
                loading: false,
                error: null,
            };
        },
        created(){
            if ( this.accLoad === false ) { this.setAccount({ id: this.$auth.user().account_id }) };
        },
        computed: {
            ...mapGetters({
                accLoad: 'checkAccountLoad',
                templates: 'getAccountTemplates',
            }),
            mainTemplates:function() {
                return this.templates.filter(t => t.parent_id !== null);
            },
        },
        methods: {
            ...mapActions({
                setAccount: 'setAccountAsync',
            }),
/*            getTemplates() {
                this.error = this.groups = null;
                this.loading = true;
                axios
                    .get('acc-templates')
                    .then(response => {
                        this.templates = response.data.data;
                        this.loading = false;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },*/
        }
    }
</script>

<style scoped>

</style>