nav.navbar {
    padding: 0 1rem;
}

nav .sidebar-sticky .router-link-active {
    text-decoration: underline;
}

.dir li {
    border: 1px solid lightskyblue;
}
.container-fluid .fixed-center-menu {
    width: 90%;
    position: fixed;
    left: 50%;
    margin-left: -45%;
    z-index: 10;
}
.fixed-center-menu + div.row .child-view.container-fluid,
.fixed-center-menu + div.account-header,
.fixed-center-menu + div.row .child-view.container {
    margin-top: 40px;
}

.scroll {
    height: calc(100vh - 190px);
    overflow-y: scroll;
}
.child-view.container .card-deck .card {
    margin-left: 0;
    margin-right: 0;
}
fieldset.b-form-group.form-group {
    margin-bottom: 0;
}

.center {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}
.no-tab {
    tab-index: -1;
}
.tooltip.fade:not(.show) .tooltip-inner {
    background-color: #17a2b8 !important;
}

.tooltip.fade:not(.show) .tooltip-arrow,
.tooltip.fade:not(.show) {
    opacity: 1 !important;
    margin-top: -8px;
}

.site-header {
    border-bottom: 1px solid #343a40;
}
.inner-menu .btn-group a.btn {
    background-color: #6c757d;
    border: 1px solid #343a40;
    border-top: none;
    z-index: 2;
}
.inner-menu .btn-group a.btn:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.inner-menu .btn-group a.btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.inner-menu .btn-group a.btn:first-child:before,
.inner-menu .btn-group a.btn:last-child:before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 37px;
    top: -1px;
    background-color: #6c757d;
    border-top: none;
    border-bottom: unset;
    z-index: -1;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
}
.inner-menu .btn-group a.btn.active:before,
.inner-menu .btn-group a.btn:active:before {
    background-color: #545b62;
    border-color: #4e555b;
}

.inner-menu .btn-group a.btn:first-child:before {
    border-left: 1px solid #343a40;
    border-right: unset;
    transform: skewX(45deg);
    left: -20px;
}
.inner-menu .btn-group a.btn:last-child:before {
    border-right: 1px solid #343a40;
    border-left: unset;
    transform: skewX(-45deg);
    right: -20px;
}

b.highlight {
    color: #28a4c9;
}
td label {
    margin: 0;
}

input.border-bottom,
input.input,
input.input:focus {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid #636363;
    outline: unset;
}
input.input,
input.input:focus {
    color: #777;
    font-style: italic;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.input[data-type="text"] {
    background-color: #a6e1ec;
}
.input[data-type="date"] {
    background-color: #99f391;
}
.input[data-type="number"] {
    background-color: #f3ef9f;
}
.input[data-type="select"] {
    background-color: #9d8dff;
}
.input[data-type="directory"] {
    background-color: #FFB6E8;
}


input.border-bottom {
    width: 100%;
}
.input-group-addon {
    cursor: pointer;
}
td.used {
    background-color: antiquewhite;
}
div.preview {
    padding: 20px;
    border: 2px solid lightslategray;
    background-color: #ebebeb;
}

.container .vue-html5-editor {
    width: 21cm;
}

.container .vue-html5-editor .content,
.container .vue-html5-editor .content:focus{
    outline: 1px dashed lightskyblue;
}
#fill-document .unitContainer,
#fill-field {
    outline: 1px solid lightskyblue;
    font-size: 14px;
}
.preview table td,
#show-document table td,
#fill-field table td,
#fill-document table td {
    width: 50%;
    border:1px solid #FFFFFF !important;
    padding: 0 !important;
}

.preview table.bordered td,
#show-document table.bordered td,
#fill-field table.bordered td,
#fill-document table.bordered td {
    width: 50%;
    border:1px solid #000000 !important;
    padding: 0 !important;
}
#fill-document table.ui-datepicker-calendar td {
    width: auto;
}
.datepicker-container {
    position: absolute;
}
.container .vue-html5-editor .content{
    width: 16.5cm;
    /*height: 23.7cm;*/
    /*margin-top: 2cm;*/
    /*margin-bottom: 2cm;*/
    margin-left: 3cm;
    margin-right: 1.5cm;
    padding: 0;
}

.a-format {
    width: 21cm;
    min-height: 29.7cm;
    margin: 0;
    padding-top: 2cm;
    padding-bottom: 2cm;
    padding-left: 3cm;
    padding-right: 1.5cm;
    border: 1px solid black;
    background-color: #FFF;
}
label.input {
    padding: 0 4px;
    border-bottom: 1px dashed black;
    min-height: 20px;
    margin-bottom: unset;
    background-color: #FFFFFF;
    display: inline;
}

.out-window {
    visibility: hidden;
    position: absolute;
}
.search .table td:last-child {
    text-align: center;
}
.search .table td {
    padding: 4px 8px;
}

.search .green {
    background-color: #82ff9a;
}
.search .yellow {
    background-color: #ffcf87;
}
.search .white {
    background-color: #FFF;
}
.paragraph {

    /*padding-bottom: 16px;*/
}
.unit {
    padding-top: 155px;
    margin-top: -155px;
    border-bottom: 1px dashed #0073ff;
}
#fill-document .unit.highlight-unit > .unitContainer {
    outline: 2px solid lawngreen;
}
#show-document {
    width: 21cm;
    min-height: 29.7cm;
    margin: 0;
    padding-top: 2cm;
    padding-bottom: 2cm;
    padding-left: 3cm;
    padding-right: 1.5cm;
    border: 1px solid black;
    background-color: #FFF;
    word-break: break-all;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
}
#show-document p {
    margin-bottom: 0;
}
#show-document table td {
    border-color: #FFFFFF !important;
    padding: 0 !important;
}
#show-document table td,
.vue-html5-editor table td {
    border: 1px solid #a6e1ec;
}
.vue-html5-editor table.bordered td {
    border: 1px solid #000000;
}

.left-menu {
    background-color: rgb(195, 195, 195);
    border-radius: 0.4rem;
}
.unit-menu {
    border-radius: 0.3rem;
    margin: 1rem 0;
    background-color: rgb(221, 221, 221);
    border: 1px solid #17a2b8;
}
.unit-menu ul {
    list-style: none;
    padding-inline-start: 0;
}
.unit-menu > ul > li > label {
    margin-top: -14px;
    position: absolute;
    background-color: rgb(221,221,221);
    padding: 0 4px;
    margin-left: 24px;
    border: 1px solid #17a2b8;
    border-radius: 8px;
}
.unit-menu li > ul {
    padding-top: 18px;
    padding-bottom: 16px;
}
.unit-menu .u-title:first-child {
    border-top: none;
}
.unit-menu .u-title {
    border-top: 1px solid #17a2b8;
}
.u-item label {
    margin: 0;
}
.u-item {
    padding-left:24px;
}
.u-item:nth-of-type(even) {
    background-color: #cdcdcd;
}
.u-item:nth-of-type(odd) {
    background-color: #d7d7d7;
}

.table th.w-140 {
    width: 140px;
}
.table th.w-160 {
    width: 160px;
}
.table th.w-180 {
    width: 180px;
}
.table th.w-200 {
    width: 200px;
}

li.nav-item {
    padding-top: 4px;
}
span.tree-item {
    width: 100%;
    display: block;
    border: 1px solid lightseagreen;
    background-color: rgb(141, 199, 210);
    border-radius: 3px; margin-left: 20px;
}
.nav-link {
    color: #FFF;
}
nav.sidebar .nav-link.router-link-exact-active.router-link-active {
    color: #007bff;
    text-shadow: 2px 3px 2px rgba(0,0,0,0.4),
                 0px -2px 8px rgba(255,255,255,0.6);
}
.tree:before {
    font-family: FontAwesome;
    cursor: pointer;
    border-radius: 50%;
    font-size: 15px;
    color: #FFF;
    background-color: #00aa00;
    padding: 2px 3px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    left: -24px;
}
.tree-plus:before {
    content: "\f067";
    background-color: #00aa00;
}
.tree-minus:before {
    content: "\f068";
    background-color: #0000aa;
}
.edit-field .vue-html5-editor {
    border: 1px solid black;
}
.toolbar {
    width: 100%;
    height: 37px;
    border-bottom: 1px solid black;
    z-index: 5 !important;
}
.edit-field .vue-html5-editor>.toolbar>ul {
    float: right;
    border-bottom: none;
}
.edit-field .unit-head {
    position: absolute;
    z-index: 6;
    width: 210px;
    border-radius: 4px;
    border: 1px solid lightslategray;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 4px;
}

/*Start arrow animate landing page*/
@-webkit-keyframes arrowAnimate {
    100%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    35%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    30%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    15%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    8%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    6%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    4%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    2%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    0%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@-moz-keyframes arrowAnimate {
    100%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    35%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    30%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    15%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    8%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    6%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    4%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    2%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    0%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@-o-keyframes arrowAnimate {
    100%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    35%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    30%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    15%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    8%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    6%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    4%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    2%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    0%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes arrowAnimate {
    100%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    35%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    30%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 10%, var(--line) 10%,var(--line) 20%, var(--arrow) 20%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 20%, var(--line) 20%,var(--line) 30%, var(--arrow) 30%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 30%, var(--line) 30%,var(--line) 40%, var(--arrow) 40%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    15%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 40%, var(--line) 40%,var(--line) 50%, var(--arrow) 50%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 50%, var(--line) 50%,var(--line) 60%, var(--arrow) 60%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    8%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 60%, var(--line) 60%,var(--line) 70%, var(--arrow) 70%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    6%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 70%, var(--line) 70%,var(--line) 80%, var(--arrow) 80%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    4%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 80%, var(--line) 80%,var(--line) 90%, var(--arrow) 90%,var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    2%{
        background: -o-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        background: linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        background: -webkit-linear-gradient(90deg,var(--arrow) 0%, var(--arrow) 90%, var(--line) 90%,var(--line) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    0%{
        background: -o-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        background: -webkit-linear-gradient(90deg,var(--line) 0%, var(--line) 10%, var(--arrow) 10%, var(--arrow) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
/*End arrow animate landing page*/
.block-header{
    font-size: 36px;
    text-align: center;
    margin-bottom: 75px;
}
.blue-button{
    min-width: 230px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    background: #37b6ff !important;
    border-color: #37b6ff !important;
}
.blue-button:hover{
    background: #5dc4ff !important;
}