body {
    font-size: 14px;
    padding: 2cm 1.5cm 2cm 3cm;
    margin: 0;
    background-color: #FFFFFF;
    width: 16.5cm;
    min-height: 600px;
}

table {
    border: none !important;
}

table tr td {
    border: none !important;
    width: 50%;
    padding: 0 !important;
}