@media print {
    body {
        margin-top: 2cm;
        margin-bottom: 2cm;
        margin-left: 3cm;
        margin-right: 1.5cm;
        font: 14pt Arial;
        line-height: 1.3;
    }
    table {
        border-collapse: collapse;
    }
    table td,
    table th {
        width: 50%;
        border-color: #ffffff;
        padding: 0 !important;
        margin: 0;
    }
    table.bordered td,
    table.bordered th {
        border: 1px solid #000000;
        padding: 0 !important;
        margin: 0;
    }
}