<template>
    <b-container class="bv-example-row bv-example-row-flex-cols">
        <b-row class="justify-content-md-center" align-v="center" style="min-height: 500px">
            <b-col cols="5">
                <b-card header="Авторизация"
                        header-bg-variant="primary"
                        header-text-variant="white"
                        align="center">
                    <b-form autocomplete="off" @submit.prevent="login" method="post">
                        <b-form-group id="loginLabel"
                                      label="e-mail:"
                                      label-for="login">
                            <b-form-input id="login"
                                          type="email"
                                          v-model="email"
                                          required
                                          placeholder="укажите e-mail адрес">
                            </b-form-input>
                        </b-form-group>
                        <b-form-group id="passLabel"
                                      label="Пароль:"
                                      label-for="pass">
                            <b-form-input id="pass"
                                          type="password"
                                          v-model="password"
                                          required
                                          placeholder="********">
                            </b-form-input>
                        </b-form-group>
                        <b-form-checkbox class="mb-2 mr-sm-2 mb-sm-0">Запомнить меня</b-form-checkbox>
                        <b-button type="submit" variant="primary">Вход</b-button>
                    </b-form>
                </b-card>
                <div class="alert alert-danger" v-if="error">
                    <p>Неверный логин или пароль</p>
                </div>

            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        data(){
            return {
                email: null,
                password: null,
                error: false
            }
        },
        methods: {
            login(){
                var app = this;
                this.$auth.login({
                    params: {
                        email: app.email,
                        password: app.password
                    },
                    success: function () {},
                    error: function (error) {
                        this.error = error.response.data.message || error.message;
                    },
                    rememberMe: true,
                    redirect: '/',
                    fetchUser: true,
                });
            },
        }
    }
</script>

<style scoped>

</style>