<template>
    <b-container class="bv-example-row bv-example-row-flex-cols">
        <b-row class="justify-content-md-center" align-v="center" style="min-height: 500px">
            <b-col cols="5">
                <b-card v-if="!success"
                        header="Авторизация"
                        header-bg-variant="primary"
                        header-text-variant="white"
                        align="center">
                    <b-form autocomplete="off" @submit.prevent="register" method="post">
                        <b-form-group id="companyLabel"
                                      v-bind:class="{ 'has-error': error && errors.organization }"
                                      label="Организация:"
                                      label-for="organization">
                            <b-form-input id="organization"
                                          type="text"
                                          v-model="organization"
                                          required
                                          placeholder="укажите наименование организации">
                            </b-form-input>
                            <span class="help-block" v-if="error && errors.organization">{{ errors.organization }}</span>
                        </b-form-group>

                        <b-form-group id="fioLabel"
                                      v-bind:class="{ 'has-error': error && errors.name }"
                                      label="ФИО пользователя:"
                                      label-for="name">
                            <b-form-input id="name"
                                          type="text"
                                          v-model="name"
                                          required
                                          placeholder="Иванов Иван">
                            </b-form-input>
                            <span class="help-block" v-if="error && errors.name">{{ errors.name }}</span>
                        </b-form-group>

                        <b-form-group id="emailLabel"
                                      v-bind:class="{ 'has-error': error && errors.email }"
                                      label="E-mail:"
                                      label-for="email">
                            <b-form-input id="email"
                                          type="email"
                                          v-model="email"
                                          required
                                          placeholder="укажите e-mail">
                            </b-form-input>
                            <span class="help-block" v-if="error && errors.email">{{ errors.email }}</span>
                        </b-form-group>

                        <b-form-group id="passLabel"
                                      label="Пароль:"
                                      v-bind:class="{ 'has-error': error && errors.password }"
                                      label-for="pass">
                            <b-form-input id="pass"
                                          type="password"
                                          v-model="password"
                                          required
                                          placeholder="********">
                            </b-form-input>
                            <span class="help-block" v-if="error && errors.password" v-for="errorItem in errors.password">{{ errorItem }}</span>
                        </b-form-group>

                        <b-form-group id="confirmLabel"
                                      label="Пароль:"
                                      label-for="confirm">
                            <b-form-input id="confirm"
                                          type="password"
                                          v-model="password_confirmation"
                                          required
                                          placeholder="********">
                            </b-form-input>
                        </b-form-group>

                        <b-button type="submit" variant="primary">Зарегистрироваться</b-button>
                    </b-form>
                </b-card>
                <div class="alert alert-danger" v-if="error && !success">
                    <p>There was an error, unable to complete registration.</p>
                </div>
                <div class="alert alert-success" v-if="success">
                    <p>Успех! <router-link :to="{name:'login'}">Войти</router-link></p>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        data(){
            return {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                organization: '',
                error: false,
                errors: {},
                success: false
            };
        },
        methods: {
            register(){
                var app = this;
                this.$auth.register({
                    data: {
                        name: app.name,
                        email: app.email,
                        password: app.password,
                        organization: app.organization,
                        password_confirmation: app.password_confirmation,
                    },
                    success: function () {
                        app.success = true
                    },
                    error: function (resp) {
                        app.error = true;
                        app.errors = resp.response.data.errors;
                    },
                    redirect: null
                });
            }
        }
    }
</script>

<style scoped>

</style>