<template>
    <ul id="context-menu">
        <input type="hidden" id="editor-index">
        <li class="context-menu-item" @click="addInput('text')" tabindex="1">
            <span>Текстовое поле</span>
        </li>
        <li class="context-menu-item" @click="addInput('number')" tabindex="2">
            <span>Числовое поле</span>
        </li>
        <li class="context-menu-item" @click="addInput('date')">
            <span>Дата</span>
        </li>
        <li class="context-menu-item">
            <span>Из справочника:</span>
            <ul class="sub-menu">
                <li v-for="directory in catalogs" class="context-menu-item">
                    <span>{{directory.name}}</span>
                    <ul class="sub-menu">
                        <li v-for="column in directory.columns" class="context-menu-item">
                            <span @click="addInput('select', { 'data-dir' : directory.id + '|' + column.id } )">{{column.title}}</span>
                        </li>
                    </ul>
                </li>
                <li v-if="!catalogs.length" class="context-menu-item"><span>нет загруженных</span></li>
            </ul>
        </li>
        <li class="context-menu-item" v-if="$auth.user().account_id !== 1">
            <span>Свой справочник:</span>
            <ul class="sub-menu">
                <li v-for="directory in userCatalogs" class="context-menu-item">
                    <span>{{directory.name}}</span>
                    <ul class="sub-menu">
                        <li v-for="column in directory.columns" class="context-menu-item">
                            <span @click="addInput('select', { 'data-dir' : directory.id + '|' + column.id } )">{{column.title}}</span>
                        </li>
                    </ul>
                </li>
                <li v-if="!userCatalogs.length" class="context-menu-item"><span>нет загруженных</span></li>
            </ul>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "context-menu",
        data(){
            return {
                viewMenu: false,
                top: '0px',
                left: '0px',
                catalogs: [],
                userCatalogs: [],
            }
        } ,
        created() {
            this.getList();
        },
        methods: {
            addInput: function(type,args = {}) {
                args['data-key'] = new Date().getTime();
                let data = {
                    type: type,
                    settings : args
                };
                this.$emit('newinput',data);
            },
            getList() {
                this.error = this.users = null;
                this.loading = true;
                axios
                    .get('catalogs')
                    .then(response => {
                        this.loading = false;
                        this.catalogs = response.data.data.global;
                        this.userCatalogs = response.data.data.local;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
        }
    }
</script>

<style scoped>
    #context-menu {
        top: 0;
    }
    #context-menu,
    .sub-menu {
        left: 0;
        margin: 0;
        padding: 0;
        display: none;
        list-style: none;
        position: absolute;
        z-index: 2147483647;
        background-color: white;
        border: 1px solid #ebebeb;
        border-bottom-width: 0px;
        width: 180px;
    }

    #context-menu.active {
        display: block;
    }

    .context-menu-icon {
        top: 1px;
        position: relative;
        margin-right: 10px;
    }

    .context-menu-item {
        display: flex;
        cursor: pointer;
        padding: 8px 15px;
        align-items: center;
        border-bottom: 1px solid #404040;
    }
    .sub-menu {
        left: 176px;
    }
    .context-menu-item span {display: block;}
    .context-menu-item:hover > ul {display: block;}
    .context-menu-item:hover {
        background-color: #ebebeb;
    }
</style>