<template>
    <b-row>
        <b-col cols="12">
            <editor ref="htmlEditor" :content="content" @change="updateData"></editor>
        </b-col>
    </b-row>
</template>

<script>
    import VueHtml5Editor from 'vue-html5-editor';
    import customTable from './modules/customTable/index';
    import insertInputs from './modules/insertInputs/index';
    import directories from './modules/directories/index';
    import ruRU from './localeRU';
    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';
    const htmlEditor = new VueHtml5Editor({
        name: "editor",
        showModuleName: false,
        icons: {
            text: "fa fa-pencil",
            color: "fa fa-paint-brush",
            font: "fa fa-font",
            align: "fa fa-align-justify",
            list: "fa fa-list",
            link: "fa fa-chain",
            unlink: "fa fa-chain-broken",
            tabulation: "fa fa-table",
            image: "fa fa-file-image-o",
            hr: "fa fa-minus",
            eraser: "fa fa-eraser",
            undo: "fa-undo fa",
            "full-screen": "fa fa-arrows-alt",
            info: "fa fa-info",
        },
        visibleModules: [
            "directories",
            "inputs",
            "text",
            "color",
            "font",
            "align",
            "list",
            // "link",
            // "unlink",
            "customtable",
            // "tabulation",
            // "image",
            "hr",
            "eraser",
            "undo",
            "full-screen",
            "info",
        ],
        modules:[
            customTable,
            insertInputs,
            directories,
        ],
        language: "ru-RU",
        i18n: ruRU,
    });

    export default {
        components: {
            "editor" : htmlEditor,
        },
        name: "editor-page",
        props:{
            defaultContent: String,
            index: Number,
        },
        data() {
            return {
                content: '',
            };
        },
        computed:{
            ...mapGetters({
                dirLoadedState: 'getDirLoadState'
            }),
        },
        created() {
            this.content = this.defaultContent || '';
            if(this.dirLoadedState === false){
                this.setDirectories();
            }
        },
        methods: {
            ...mapActions({
                setDirectories: 'setDirectoriesAsync',
            }),
            updateData: function (content) {
                let data = {
                    content: content,
                    index: this.index,
                };
                this.$emit('content', data);
            },
        }
    }
</script>

<style scoped>
    .tools button {
        display: inline-block;
    }
</style>