<form @submit.prevent="insertInput">
    <label>
        {{$parent.locale["input title"]}}
        <input type="text" style="width: 300px" v-model="placeholder">
    </label>
    <br>
    <label>
        {{$parent.locale["select dir group"]}}
        <select style="width: 300px" v-model="source">
            <option value="0">{{$parent.locale["directories app"]}}</option>
            <option value="1">{{$parent.locale["directories acc"]}}</option>
        </select>
    </label>
    <br>
    <label>
        {{$parent.locale["select dir"]}}
        <select required style="width: 300px" v-model="directory">
            <option v-for="(item, index) in directories[source]" :value="index">{{item.name}}</option>
        </select>
    </label>
    <br>
    <label v-if="directories[source][directory]">
        {{$parent.locale["select dir column"]}}
        <select required style="width: 300px" v-model="column">
            <option v-for="(col, cIndex) in directories[source][directory].columns" :value="cIndex">{{col.title}}</option>
        </select>
    </label>
    <button type="submit">{{$parent.locale.save}}</button>
</form>