<template>
    <b-container>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <h1>Создание шаблона</h1>
            </b-col>
        </b-row>
        <b-row style="margin-top: 8px; margin-bottom: 8px;">
            <b-col cols="12">
                <b-input-group prepend="Шаблон:">
                    <b-form-input v-model="editableItem.name"
                                  type="text"
                                  placeholder="укажите наименование шаблона"></b-form-input>
                    <b-input-group-append>
                        <b-btn variant="success"
                               @click="sendItem('post', editableItem.id)">
                            Сохранить
                        </b-btn>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
            <div class="error" v-if="error"><p>{{error}}</p></div>
        </b-row>
        <b-row class="mb-3">
            <b-col cols="12">
                <div role="group" class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Группа:</div>
                    </div>
                    <multiselect class="form-control p-0" v-model="editableItem.groups" :options="options" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Выберите группу/группы" label="name" track-by="id">
                        <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} групп выбрано</span></template>
                    </multiselect>
                </div>
            </b-col>
        </b-row>
        <b-row class="mb-3">
            <b-col v-for="group in editableItem.groups" :key="group.id" cols="4" class="mb-2" style="display: flex; flex-direction: row;">
                <div style="width: 100%;
                border: 1px solid #004477;
                border-radius: 6px;
                padding: 8px 16px;
                background-color: #a7e2ff">{{group.name}}</div>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="4" class="left-menu">
                <div class="unit-menu ">
                    <ul>
                        <li v-for="(orderItem, order) in orders" :key="order" class="u-title">
                            <label>
                                #{{order}}
                                <input type="text" v-model="orderItem.order_title"/>
                                <i class="fa fa-trash pull-right"
                                   title="Удалить параграф"
                                   style="margin: 0 6px; padding: 6px 0; cursor: pointer;"
                                   @click="removeParagraph(order)"></i>
                            </label>
                            <ul v-if="orderItem.units.length > 0" class="pb-0">
                                <li v-for="(unit, uIndex) in orderItem.units" class="u-item">
                                    <label :for="unit.id + '-menu-' + order">{{unit.name}}</label>
                                    <i class="fa fa-minus pull-right"
                                       title="Удалить блок"
                                       style="margin: 0 6px; padding: 4px;cursor: pointer;"
                                       @click="menuHandler(order, uIndex)"></i>
                                </li>
                            </ul>
                            <b-button @click="addUnitItem(order)" size="sm" variant="info" style="position:relative; left:90%;"><i class="fa fa-plus"></i></b-button>
                        </li>
                    </ul>
                    <b-button variant='info' size="sm" class="m-1" @click="addUnitGroup()">Добавить параграф</b-button>
                </div>
            </b-col>
            <b-col cols="8">
                <div class="w-100 edit-field" v-for="(unit, index) in editableItem.units" :key="index" v-show="!unit.hide">
                    <input v-model="unit.name" class="unit-head">
                    <unit-editor @content="contentHandler" :index="index"
                                 :defaultContent="unit.content"></unit-editor>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import { documentMap } from "./../../helpers.js"
    import editor from '../units/Editor'
    export default {
        name: "template-create",
        components: {
            'unit-editor' : editor,
        },
        data(){
            return {
                editableItem: {
                    name: '',
                    groups: [],
                    template_id: null,
                    inputs:'',
                    units:[],
                },
                inputList:[],
                orders:[],
                error: null,
                loading: true,
            }
        },
        created() {
            if (!this.loadedOptions){
                this.setGroups();
            }
        },
        computed: {
            ...mapGetters({
                options:        'getGroups',
                loadedOptions:  'getGroupsStatus',
            }),
        },
        methods: {
            ...mapActions({
                setGroups:         'setGroupsAsync',
            }),
            documentMap,
            addUnitGroup(){
                this.orders.push({'units': [],'order_title': '' });
            },
            addUnitItem(order){
                let newObj = {
                    id: -1,
                    order: order,
                    order_title: '',
                    name: '',
                    content: '',
                };
                let oIndex = this.orders[order].units.length;
                this.orders[order].units.push(newObj);
                this.editableItem.units[this.editableItem.units.length] = this.orders[order].units[oIndex];
            },
            sendItem: function(action, id = false){
                let formData = {};
                let tlpObj = this.editableItem;
                for (let item in tlpObj) {
                    formData[item] = tlpObj[item];
                }
                formData['inputs'] = JSON.stringify(this.documentMap);
                formData['orders'] = this.orders;
                axios({
                    url: 'templates',
                    method: 'post',
                    data: formData
                }).then(response => {
                    this.$router.push({ name: 'templates', params: {
                            id: this.editableItem.groups[0] ? this.editableItem.groups[0].id : 'all'
                        } });
                }).catch(error => {
                    this.errors = error.response.data.errors || [error.message];
                });
            },
            renderMenu() {
                let unitList = this.editableItem.units;
                for (let index in unitList){
                    if(unitList[index].order === this.orders.length) {
                        this.orders.push({'units': [],'order_title': unitList[index].order_title });
                    }
                    this.orders[unitList[index].order].units.push(unitList[index]);
                };
                this.inputList = JSON.parse(this.editableItem.inputs);
            },
            menuHandler(order, index) {
                let items = this.editableItem.order[order];
                items.splice(index,1);
            },
            contentHandler(data) {
                this.editableItem.units[data.index].content = data.content;
            },
        }
    }
</script>

<style scoped>

</style>