<template>
    <b-container>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <h1>Редактирование шаблона</h1>
            </b-col>
        </b-row>
        <b-row style="margin-top: 8px; margin-bottom: 8px;">
            <b-col cols="6">
                <b-button-group size="sm">
                    <b-btn v-if="editableItem.prev_version" :to="{ name: 'template-edit', params: { id: editableItem.prev_version['id']}}">Пред. версия &larr;</b-btn>
                    <b-btn v-else disabled>Пред. версия</b-btn>
                    <b-btn variant="info">Версия: {{editableItem.version}}</b-btn>
                    <b-btn v-if="editableItem.next_version_id" :to="{ name: 'template-edit', params: { id: editableItem.next_version_id}}">&rarr; След. версия</b-btn>
                    <b-btn v-else @click="newVersion()">Создать версию</b-btn>
                </b-button-group>
            </b-col>
            <b-col cols="6">
                <b-form-group label="Статус: ">
                    <b-form-radio-group buttons
                                        button-variant="outline-info"
                                        size="sm"
                                        v-model="editableItem.status"
                                        :options="[ { text: 'в редакции', value: '1' },
                                                    { text: 'опубликован', value: '2' },
                                                    { text: 'архивный', value: '3' }]"
                                        name="type" />
                </b-form-group>
            </b-col>
            <div class="error" v-if="error"><p>{{error}}</p></div>
        </b-row>
        <b-row style="margin-top: 8px; margin-bottom: 8px;">
            <b-col cols="12">
                <b-input-group prepend="Шаблон:">
                    <b-form-input v-model="editableItem.name"
                                  type="text"
                                  placeholder="укажите наименование шаблона"></b-form-input>
                    <b-input-group-append>
                        <b-btn variant="success"
                               @click="sendItem('put', editableItem.id)">
                            Обновить
                        </b-btn>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
            <div class="error" v-if="error"><p>{{error}}</p></div>
        </b-row>
        <b-row class="mb-3">
            <b-col cols="12">
                <div role="group" class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Группа:</div>
                    </div>
                    <multiselect class="form-control p-0" v-model="editableItem.groups" :options="options" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Выберите группу/группы" label="name" track-by="id">
                        <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} групп выбрано</span></template>
                    </multiselect>
                </div>
            </b-col>
        </b-row>
        <b-row class="mb-3">
            <b-col v-for="group in editableItem.groups" :key="group.id" cols="4" class="mb-2" style="display: flex; flex-direction: row;">
                <div style="width: 100%;
                border: 1px solid #004477;
                border-radius: 6px;
                padding: 8px 16px;
                background-color: #a7e2ff">{{group.name}}</div>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="4" class="left-menu">
                <div class="unit-menu">
                    <ul>
                        <li v-for="(orderItem, order) in orders" :key="order" class="u-title">
                            <label>
                                #{{order}}
                                <input type="text" v-model="orderItem.order_title"/>
                                <i class="fa fa-trash pull-right"
                                   title="Удалить параграф"
                                   style="margin: 0 6px; padding: 6px 0; cursor: pointer;"
                                   @click="removeParagraph(order)"></i>
                            </label>
                            <ul v-if="orderItem.units.length > 0" class="pb-0">
                                <li v-for="(unit, uIndex) in orderItem.units" class="u-item">
                                    <label :for="unit.id + '-menu-' + order">{{unit.name}}</label>
                                    <i class="fa fa-minus pull-right"
                                       title="Удалить блок"
                                       style="margin: 0 6px; padding: 4px;cursor: pointer;"
                                       @click="removeUnit(order, uIndex)"></i>
                                    <!--<i class="fa fa-eye-slash pull-right"-->
                                       <!--title="Удалить блок"-->
                                       <!--style="margin: 0 6px; padding: 4px;cursor: pointer;"-->
                                       <!--@click="toggleHide(unit.id)"></i>-->
                                </li>
                            </ul>
                            <b-button @click="addUnitItem(order)" size="sm" variant="info" style="position:relative; left:90%;"><i class="fa fa-plus"></i></b-button>
                        </li>
                    </ul>
                    <b-button variant='info' size="sm" class="m-1" @click="addUnitGroup()">Добавить параграф</b-button>
                    <b-button v-if="this.editableItem.prev_version" @click="params">log</b-button>
                </div>
                <b-col cols="12" v-if="log">
                    <div v-html="log"></div>
                </b-col>
            </b-col>
            <b-col cols="8" v-if="renderComponent">
                <div class="w-100 edit-field" v-for="(unit, index) in editableItem.units">
                    <input v-model="unit.name" class="unit-head">
                    <unit-editor @content="contentHandler" :index="index"
                            :defaultContent="unit.content"></unit-editor>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import { documentMap } from "./../../helpers.js"
    import { parseChanges } from "./../../helpers.js"
    import editor from '../units/Editor'
    import ContextMenu from '../units/ContextMenu'
    export default {
        name: "template-edit",
            components: {
                ContextMenu,
                'unit-editor' : editor,
                'context-menu' : ContextMenu,
            },
        data(){
            return {
                editableItem: {
                    name: '',
                    groups: [],
                    template_id: null,
                    inputs:'',
                    units:[],
                    version:1,
                    status: -1,
                    next_version_id: null,
                    prev_version: null,
                },
                log: false,
                renderComponent: true,
                inputList:[],
                orders:[],
                error: null,
                loading: true,
            }
        },
        created() {
            this.getTemplate();
            if (!this.loadedOptions){
                this.setGroups();
            }
        },
        watch:{
            '$route' (newVal, oldVal) {
                this.inputList = [];
                this.orders = [];
                this.editableItem.units = [];
                this.getTemplate();
                if (!this.loadedOptions){
                    this.setGroups();
                }
            },
            'editableItem.status' (newVal, oldVal) {
                if (oldVal !== -1 && event.type === "message"){
                    this.setStatus(newVal);
                }
            },
        },
        computed: {
            ...mapGetters({
                options:        'getGroups',
                loadedOptions:  'getGroupsStatus',
            }),
        },
        methods: {
            ...mapActions({
                setGroups:         'setGroupsAsync',
            }),
            documentMap,
            parseChanges,
            params() {
                this.log = this.parseChanges(this.editableItem.prev_version.inputs, this.editableItem.inputs);
            },
            getTemplate: function() {
                this.loading = true;
                this.error = null;
                axios.get('templates/' + this.$route.params.id)
                    .then(response => {
                        this.editableItem = response.data.data;
                        this.loading = false;
                        this.renderMenu();
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.message;
                });
            },
            sendItem: function(action, id = false){
                let formData = {};
                let tlpObj = this.editableItem;
                for (let item in tlpObj) {
                    formData[item] = tlpObj[item];
                }
                console.log(1);
                formData['inputs'] = JSON.stringify(this.documentMap());
                formData['orders'] = this.orders;
                axios({
                    url: 'templates' + ( id ? ('/' + id ) : ''),
                    method: action,
                    data: formData
                }).then(response => {
                    this.$router.push({ name: 'templates', params: {
                            id: this.editableItem.groups[0] ? this.editableItem.groups[0].id : 'all'
                        } });
                }).catch(error => {
                    this.errors = error.response.data.errors || [error.message];
                });
            },
            newVersion() {
                let formData = {};
                let tlpObj = this.editableItem;
                for (let item in tlpObj) {
                    formData[item] = tlpObj[item];
                }
                formData['inputs'] = JSON.stringify(this.documentMap());
                formData['orders'] = this.orders;
                formData['parent_id'] = this.editableItem.parent_id || this.editableItem.id;
                formData['id'] = -1;
                formData['is_version'] = true;
                axios({
                    url: 'templates',
                    method: 'post',
                    data: formData
                }).then(response => {
                    this.$router.push({ name: 'templates', params: {
                            id: this.editableItem.groups[0] ? this.editableItem.groups[0].id : 'all'
                        } });
                }).catch(error => {
                    this.errors = error.response.data.errors || [error.message];
                });
            },
            setStatus(status){
                axios({
                    url: 'set-status/'+ this.editableItem.id,
                    method: 'post',
                    data: {'status': status}
                }).then(response => {
                    this.$toastr.s(response.data.message);
                }).catch(error => {
                    this.errors = error.response.data.errors || [error.message];
                });
            },
            addUnitGroup(){
                this.orders.push({'units': [],'order_title': '' });
            },
            addUnitItem(order, index){
                let newObj = {
                    id: -1,
                    order: order,
                    order_title: '',
                    name: '',
                    content: '',
                };
                let oIndex = this.orders[order].units.length;
                let prevItems = this.editableItem.units.filter(u => u.order < order).length;
                console.log(prevItems, oIndex);
                this.editableItem.units.splice(prevItems + oIndex, 0, newObj);
                this.orders[order].units.push(newObj);
                this.forceRerender();
            },
            renderMenu() {
                let unitList = this.editableItem.units;
                for (let index in unitList){
                    if(unitList[index].order === this.orders.length) {
                        this.orders.push({'units': [],'order_title': unitList[index].order_title });
                    }
                    this.orders[unitList[index].order].units.push(unitList[index]);
                };
                this.inputList = JSON.parse(this.editableItem.inputs);
            },
            contentHandler(data) {
                this.editableItem.units[data.index].content = data.content;
            },
            removeUnit(order, uIndex){
                let list = this.editableItem.units.findIndex(u => u.order === order);
                this.editableItem.units.splice( list + uIndex,1);
                this.orders[order].units.splice(uIndex,1);
                this.forceRerender();
            },
            removeParagraph(order){
                this.orders.splice(order,1);
                let start = this.editableItem.units.findIndex(u => u.order === order );
                let length = this.editableItem.units.filter(u => u.order === order ).length;
                this.editableItem.units.splice(start, length);
                for (let i = start; i < this.editableItem.units.length; i++){
                    this.editableItem.units[i].order --;
                }
                this.forceRerender();
            },
            forceRerender() {
                this.renderComponent = false;
                this.$nextTick(() => {
                    this.renderComponent = true;
                });
            }
        }
    }
</script>

<style scoped>

</style>