<template>
    <b-container class="content container">
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <h1>{{group.name}}</h1>
            </b-col>
            <b-col cols="10">
                <div class="input-group search">
                    <div class="input-group-append w-100 pb-2">
                        <input size="md" @focus.prevent="showResults" type="text" @input="searchItems" class="form-control" placeholder="Поиск шаблонов" v-model="search.query" style="margin-right: 3px">
                        <span class="btn btn-primary btn-xs" @click="searchItems" style="border-color: #ced4da"><i class="fa fa-search"></i>&nbsp;&nbsp;Поиск</span>
                    </div>
                    <div v-if="search.show" class="results input-group" style="width: 100%; top: 40px; background-color: #FFF; position: absolute; z-index:999">
                        <table class="table table-bordered" style="margin: 0">
                            <tbody>
                            <tr v-for="(template, index) in search.selections">
                                <td><span v-html="$options.filters.highlight(template.name, search.query)"></span></td>
                                <td>
                                    <span @click="setupTemplate(template.id, 'attach')">
                                        <i class="fa fa-random" title="Добавить"></i>
                                    </span>
                                    <span @click="setupTemplate(template.id, 'sync')">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="10" offset="1">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Шаблон документа</th>
                        <th style="width: 100px;">действия</th>
                    </tr>
                    </thead>
                    <tbody v-if="group.templates">
                    <tr v-for="item, index in group.templates">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td class="text-center">
                            <router-link :to="{name:'template-edit',params: { id: item.id }}" class="btn btn-success btn-xs">
                                <i class="fa fa-eye"></i>
                            </router-link>
                            <span class="btn btn-primary btn-xs" @click="setupTemplate(item.id, 'detach')"><i class="fa fa-minus"></i></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

    export default {
        name: "group-show",
        data() {
            return {
                loading: false,
                group: {
                    id: false,
                    name: '',
                    templates: []
                },
                search: {
                    query: null,
                    selections: [],
                    show: false,
                },
                error: null,
                responseMessage: null,
                elastic: null,
            };
        },
        created() {
            this.getList();
        },
        computed: {

        },
        mounted() {
            window.addEventListener('click', this.hideHandler);
        },
        watch: {
            error: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.e(newVal);
                }
            },
            responseMessage: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.s(newVal);
                }
                this.responseMessage = null;
            },
        },
        methods:{
            getList: function() {
                this.error = null;
                this.loading = true;
                axios.get('template-group/' + this.$route.params.id)
                    .then(response => {
                        this.loading = false;
                        this.group = response.data.data;
                        this.search.selections = response.data.selections;
                        this.responseMessage = response.data.message;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            searchItems: function () {
                console.log(this.search.selections);
                if (this.search.query && this.search.query.length > 3){
                    axios.get('search-templates?query=' + this.search.query)
                        .then(response => {
                            this.search.selections = response.data.data;
                            this.search.show = true;
                        }).catch(error => {
                        this.error = error.response.data.message || error.message;
                    });
                }
            },
            showResults: function () {
                this.search.show = true;
            },
            hideHandler: function () {
                let elem = event.target;
                let searchField = elem.closest('.search');
                if (this.search.show && searchField === null) {
                    this.search.show = false;
                }
            },
            hideResults: function () {
                this.search.show = false;
            },
            setupTemplate: function (id, action) {
                axios.put('template-group/' + this.group.id, {
                    template : id,
                    action: action,
                })
                    .then(response => {
                        this.group.templates.push(template);
                        this.search.selections[index].group_id = this.group.id;
                        this.responseMessage = response.data.message;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            addItem: function () {
                axios.post('template-group' , {
                        name: this.newItem,
                    })
                    .then(response => {
                        this.groups.push(response.data.data);
                        this.responseMessage = response.data.message;
                        this.newItem = this.action = this.loading = false;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
        }
    }
</script>

<style scoped>

</style>