<template>
    <b-container>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <h1>Группы</h1>
            </b-col>
            <b-col cols="12">
                <div class="custom-tree-content">
                    <button @click="consoleData">consoleData</button>
                    <button v-if="!processed" @click="saveTree">saveTree</button>
                    <sortable-tree :data="treeData" @changePosition="changePosition" :dragEnable="true" closeStateKey="$foldClose">
                        <template slot-scope="{item}">
                            <div class="custom-tree-content" :class="{'exitChild': item.children && item.children.length}">
                                <span v-if="item['$foldClose'] && item.children && item.children.length" @click="changeState(item)">▶</span>
                                <span v-else-if="!item['$foldClose'] && item.children && item.children.length" @click="changeState(item)">▼</span>
                                <input v-model="item.name" :class="{'tree-item new': (item.id < 0)}" :disabled="item.name === 'root'">
                                <b-button v-if="item.name !== 'root'" @click="item.children.push(JSON.parse(JSON.stringify(newItem)))" size="sm"><i class="fa fa-plus"></i></b-button>
                                <b-button v-if="item.id > 0" :to="{name:'group-show', params: {id: item.id}}" size="sm"><i class="fa fa-cog"></i></b-button>
                                <b-button v-if="item.id > 0" size="sm" @click="deleteItem(item.id)" variant="danger"><i class="fa fa-trash"></i></b-button>
                            </div>
                        </template>
                    </sortable-tree>
                </div>
            </b-col>
            <b-col cols="12" class="mt-3">
                <b-button variant="success"
                          @click="treeData.children.push(JSON.parse(JSON.stringify(newItem)))">
                    <i class="fa fa-plus"></i>
                </b-button>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import {mapActions} from 'vuex';
    import SortableTree from 'vue-sortable-tree'
    export default {
        name: 'hello',
        data () {
            return {
                treeData: {
                    name: 'root',
                    id: null,
                    children: [],
                    parent_id: false,
                },
                processed: false,
                newItem: {
                    id: -1,
                    name:'',
                    children:[],
                    templates_count:0,
                    parent_id: null,
                },
            }
        },
        created() {
            this.getTree();
        },
        watch: {
            error: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.e(newVal);
                }
            },
            responseMessage: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.s(newVal);
                }
                this.responseMessage = null;
            },
        },
        methods: {
            ...mapActions({
                setGroups:         'setGroupsAsync',
            }),
            getTree: function() {
                this.error = this.users = null;
                this.loading = true;
                axios.get('template-group?orphans=false')
                    .then(response => {
                        this.loading = false;
                        this.treeData.children = response.data.data;
                        this.processed = false;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            consoleData () {
                console.log(this.treeData)
            },
            changeState (item) {
                this.$set(item, '$foldClose', !item['$foldClose'])
            },
            changePosition (option) {
                console.log(option);
                console.log('changePosition: ', option)
            },
            saveTree() {
                if(this.processed === true){
                    return;
                }
                this.processed = true;
                let formData = {};
                formData['tree'] = this.treeData.children;
                axios.post('template-group-tree', formData)
                    .then(response => {
                        this.getTree();
                        this.setGroups();
                        this.$toastr.s('Дерево обновлено!');
                        console.log(response);
                    }).catch(error => {
                        console.log(error);
                });

            },
            deleteItem(id) {
                if(this.processed === true){
                    this.$toastr.w('Повторите запрос.');
                }
                this.processed = true;
                axios.delete('template-group/' + id)
                    .then(response => {
                        this.getTree();
                        this.setGroups();
                        this.$toastr.s('Удалено!');
                        console.log(response);
                    }).catch(error => {
                    console.log(error);
                });

            },
        },
        components: {
            [SortableTree.name]: SortableTree
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .custom-tree-content {
        position: relative;
        top: 2px;
        z-index: 1;
        &.exitChild {
            margin-left: -7px;
        }
    }
</style>