<template>
    <b-container fluid>
        <b-row class="justify-content-md-center fixed-center-menu">
            <sticky-buttons>
                <b-btn :to="{name: 'templates',
                            params: {
                            id: this.$route.name === 'templates' ? this.$route.params.id : 'all'
                            } }" exact>Управление шаблонами</b-btn>
                <!--<b-btn :to="{name: 'units-index', params: {-->
                            <!--id: this.$route.name === 'units-index' ? this.$route.params.id : 'all'-->
                            <!--} }" exact>Управление блоками</b-btn>-->
                <b-btn :to="{name: 'groups-index' }" exact>Управление группами</b-btn>
            </sticky-buttons>
        </b-row>
        <b-row>
            <transition name="fade" mode="out-in">
                <router-view class="child-view"></router-view>
            </transition>
        </b-row>
    </b-container>
</template>

<script>
    import StickyButtons from '../elements/StickyButtons'
    export default {
        components: {
            StickyButtons,
        },
        name: "templates-index",
        methods: {

        }
    }
</script>

<style scoped>

</style>