<template>
    <b-container>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <h1>HEADING</h1>
            </b-col>
        </b-row>
        <b-card-group deck>
            <short-list v-for="(group, index) in groups"
                :items="group.templates"
                :title="group.name"
                :key="index"
                :options="cardOptions"
                :viewAll="group.id ? '/' + group.id : 's'"
            > </short-list>
        </b-card-group>
    </b-container>
</template>

<script>
    import ShortList from '../elements/ShortList'
    export default {
        components: {
            ShortList
        },
        name: "template-list",
        data() {
            return {
                loading: false,
                groups: null,
                error: null,
                cardOptions: {
                    cols: 4  ,
                    limit : 5,
                    itemTitle: 'name',
                    itemLink: '/templates/edit/',
                    fullViewLink: '/templates/groups',
                },
            };
        },
        created() {
            this.getTemplates();
        },
        mounted() {

        },
        methods:{
            getTemplates() {
                this.error = this.groups = null;
                this.loading = true;
                axios
                    .get('templates')
                    .then(response => {
                        this.loading = false;
                        this.groups = response.data.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            deleteTemplate: function (id, groupIndex, templateIndex) {
                axios.delete('templates/'+ id)
                    .then(response => {
                        this.groups[groupIndex].templates.splice(templateIndex,1);
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            }
        }
    }
</script>

<style scoped>

</style>