<template>
    <b-container fluid>
        <b-row>
            <nav-left :items="groups"
                      :options="options"
                      style="height: -webkit-fill-available"
            ></nav-left>
            <b-col cols="9">
                <b-row class="justify-content-md-center" md="auto">
                    <b-col cols="12">
                        <h2>Панель управления шаблонами</h2>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="11">
                        <div class="input-group">
                            <div class="input-group-append w-100 pb-2">
                                <div style="position: relative; width: 100%;">
                                    <input type="text"
                                           @keydown="searchItems(true)"
                                           class="form-control form-control-md"
                                           style="margin-right: 3px; padding-right: 24px"
                                           placeholder="Поиск по названию"
                                           v-model="search.query">
                                    <span v-if="search.search"
                                          @click="getList"
                                          style="display:inline; position: absolute; top: 0; right: 0; padding: 6px; cursor: pointer"><i class="fa fa-close"></i></span>
                                </div>
                                <span class="btn btn-primary btn-xs"
                                      @click="searchItems(true)"
                                      style="border-color: #ced4da">
                    <i class="fa fa-search"></i>
                    &nbsp;&nbsp;Поиск
                </span>
                                <b-button :to="{ name : 'template-create' }"
                                          class="btn btn-success btn-xs"
                                          type="button" style="border-color: #ced4da">
                                    <i class="fa fa-plus"></i>
                                    &nbsp;&nbsp;Добавить
                                </b-button>
                            </div>
                        </div>
                    </b-col>
                    <b-col cols="11">
                        <div class="w-100 bg-white p-2">
                            <b-table v-if="!loading"
                                     striped hover
                                     :items="items"
                                     :fields="fields"
                                     :bordered="true"
                                     :current-page="currentPage"
                                     :per-page="perPage"
                                     stacked="md">
                                <template slot="menu" slot-scope="data">
                                    <div class="input-group">
                                        <label class="input-group-append w-100">
                                            <b-form-input readonly size="md" type="text"
                                                          v-model="data.item.menu"
                                                          onfocusout="this.setAttribute('readonly','readonly')"
                                                          @change="saveName(data.item)"></b-form-input>
                                            <span @click="editHandler" class="input-group-text switch"><i class="fa fa-pencil"></i></span>
                                        </label>
                                    </div>
                                </template>
                                <template slot="actions" slot-scope="data">
                                    <b-button-group>
                                        <b-button :to="{ name: 'template-edit', params:{ id: data.item.id } }"
                                                  variant="primary">
                                            <i class="fa fa-cog"></i>
                                        </b-button>
                                        <b-button variant="warning" @click="deleteItem(data.item.id, data.index)">
                                            <i class="fa fa-trash"></i>
                                        </b-button>
                                    </b-button-group>
                                </template>
                            </b-table>
                            <b-row v-if="totalRows > perPage" class="justify-content-md-center">
                                <b-col md="6" class="my-1">
                                    <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
                                </b-col>
                            </b-row>
                        </div>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import NavLeft from '../layouts/NavLeft'
    export default {
        props: ['id'],
        name: "templates-list",
        components:{
            NavLeft,
            "nav-left" : NavLeft,
        },
        data() {
            return {
                loading: false,
                items: [],
                error: null,
                filtered: false,
                responseMessage: null,
                currentPage: 1,
                perPage: 10,
                totalRows: 0,
                search: {
                    query: '',
                    search: false,
                },
                options: {
                    route: 'templates',
                    badgeKey:"templates_count",
                    childKey:"children",
                },
                fields: [
                    {
                        key: 'id',
                        label: '#ID',
                        sortable: false
                    },
                    {
                        key: 'name',
                        label: 'Шаблон',
                        sortable: true
                    },
                    {
                        key: 'actions',
                        label: 'Действия',
                        variant: 'secondary',
                        class: 'text-center w-140'
                    }
                ],
            };
        },
        created() {
            if (!this.groupsLoaded){
                this.setGroups();
            }
            this.getList(this.id);
        },
        beforeRouteUpdate (to, from, next) {
            this.getList(to.params.id);
            next();
        },
        watch: {
            error: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.e(newVal);
                }
            },
            responseMessage: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.s(newVal);
                }
            },
        },
        computed: {
            ...mapGetters({
                groupsLoaded:       'getGroupsStatus',
                groups:             'getGroupsTree',
            }),
        },
        methods: {
            ...mapActions({
                setGroups:         'setGroupsAsync',
            }),
            getList: function(cat) {
                this.error = this.items = null;
                this.loading = true;
                axios.get('templates?&group=' + cat)
                    .then(response => {
                        this.items = response.data.data;
                        this.totalRows = this.items.length;
                        this.responseMessage = response.data.message;
                        this.search.query = '';
                        this.loading = this.search.search = false;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            saveName: function (item) {
                let elem = event.target;
                elem.setAttribute('readonly','readonly');
                axios.put('units/' + item.id, {
                    name: item.menu_name
                })
                    .then(response => {
                        // this.groups[index] = response.data.data;
                        this.responseMessage = response.data.message;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            deleteItem: function(id, index) {
                axios.delete('templates/' + id)
                    .then(response => {
                        this.items.splice(index,1);
                        this.responseMessage = response.data.message;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.message || error.message;
                });
            },
            searchItems: function (key = false) {
                if ((key && event.keyCode === 13) || event.type === 'click') {
                    if (this.search.query === ''){
                        this.$toastr.w('Укажите название или часть названия!');
                    } else {
                        this.loading = true;
                        axios.get('templates?query=' + this.search.query + '&group=' + this.id)
                            .then(response => {
                                this.loading = false;
                                this.search.search = true;
                                this.items = response.data.data;
                                this.totalRows = this.items.length;
                                this.responseMessage = response.data.message;
                            }).catch(error => {
                            this.loading = false;
                            this.error = error.response.data.message || error.message;
                        });
                    }
                }
            },
            editHandler: function() {
                let elem = event.target;
                let input = elem.closest('label').querySelector('input');
                input.removeAttribute('readonly');
            },
        }
    }
</script>

<style scoped>

</style>