<form @submit.prevent="insertTable">
    <label>
        {{$parent.locale["row count"]}}

        <input type="number" style="width: 60px" maxlength="2" min="1" max="20" v-model="rows">
    </label>
    <label>
        {{$parent.locale["column count"]}}
        <input type="number" style="width: 60px" maxlength="2" min="2" max="10" v-model="cols">
    </label>
    <label>
        <input type="checkbox" v-model="bordered">
        {{$parent.locale["table border"]}}
    </label>
    <br>
    <label>
        {{$parent.locale["columns width"]}}
        <input type="text" style="width: 200px" v-model="width" placeholder="50/50">
    </label>
    <button type="submit">{{$parent.locale.save}}</button>
</form>