<template>
    <div class="container">
        <div class="row" style="margin-bottom: 100px;">
            <div class="col-md-12">
                <div class="qd-catalog__content">
                    <div class="">
                        <h2 class="text-center">Шаблоны</h2>
                        <router-link :to="{name:'template-create'}">Создать шаблон</router-link>
                        <div class="loading" v-if="loading">
                            Loading...
                        </div>
                        <div v-if="error" class="error">
                            {{ error }}
                        </div>
                        <div class="content" v-if="groups" style="display: flex; flex-direction: row; flex-wrap: wrap">
                            <div class="col-md-4" v-for="(group,index) in groups" style="flex-basis: 33%">
                                <h4>{{group.name}}</h4>
                                <ul v-if="group.templates.length > 0">
                                    <li v-for="(template, key) in group.templates">
                                        <router-link :to="{name:'template-edit', params: { id: template.id , template: template} }">
                                            {{template.name}}
                                        </router-link><span @click="deleteTemplate(template.id, index, key)"><i class="fa fa-trash pull-right text-danger"></i></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "auth-home",
        data() {
            return {
                loading: false,
                groups: null,
                error: null,
            };
        },
        created() {
            this.getTemplates();
        },
        mounted() {

        },
        methods:{
            getTemplates() {
                this.error = this.groups = null;
                this.loading = true;
                axios
                    .get('templates')
                    .then(response => {
                        this.loading = false;
                        this.groups = response.data.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            deleteTemplate: function (id, groupIndex, templateIndex) {
                axios.delete('template/'+ id)
                    .then(response => {
                        this.groups[groupIndex].templates.splice(templateIndex,1);
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            }
        }
    }
</script>

<style scoped>

</style>