<template>
    <b-container>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <b-list-group class="mt-4">
                    <b-list-group-item v-for="(role, index) in roles"
                                       :key="index"
                                       style="cursor: pointer;"
                                       @click="loginUser(index)">
                        {{role.name}}
                    </b-list-group-item>
                </b-list-group>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        name: "test",
        data() {
            return {
                roles:[
                    {
                        name: 'Босс',
                        email: 'sadmin@tpl.test',
                        password: 'admin',
                    },
                    {
                        name: 'Администратор',
                        email: 'admin@tpl.test',
                        password: 'admin',
                    },
                    {
                        name: 'Модератор компании',
                        email: 'testc@tpl.test',
                        password: 'testc',
                    },
                    {
                        name: 'Пользователь',
                        email: 'testu@tpl.test',
                        password: 'testu',
                    },
                ],
            }
        },
        methods:{
            loginUser(index){
                if (this.$auth.check()) {
                    this.$auth.logout();
                }
                this.$auth.login({
                    params: {
                        email: this.roles[index].email,
                        password: this.roles[index].password
                    },
                    success: function () {},
                    error: function (error) {
                        this.error = error.response.data.message || error.message;
                    },
                    rememberMe: true,
                    redirect: '/',
                    fetchUser: true,
                });
            },
        }
    }
</script>

<style scoped>

</style>