<template>
    <b-container fluid>
        <b-row>
            <b-col cols="12" class="text-center">
                <table class="table table-bordered" variant="info" v-if="loaded">
                    <tr class="table-info">
                        <td>Представитель: {{ account.users[0].name }}</td>
                        <td><a :href="'mailto:'+ account.users[0].email">{{ account.users[0].email}}</a></td>
                    </tr>
                    <tr class="table-info">
                        <td>Пользователи</td>
                        <td>{{ account.users.length + " / " + account.user_limit}}</td>
                    </tr>
                    <tr class="table-info">
                        <td>Шаблоны</td>
                        <td>{{ defaultTemplates + " / " + account.template_limit }}</td>
                    </tr>
                    <tr class="table-info">
                        <td>Пользовательские шаблоны</td>
                        <td>{{ customTemplates }}</td>
                    </tr>
                    <tr class="table-info">
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </table>
            </b-col>
        </b-row>
        <!--<b-row class="justify-content-md-center mb-3">-->
            <!--<b-col cols="12" class="text-center">-->
                <!--<b-button @click="showUsers = !showUsers; showTemplates = false;"-->
                          <!--size="sm" variant="info">Пользователи: {{ account.users.length + " / " + account.user_limit}}-->
                    <!--&nbsp;<i :class="{'fa fa-arrow-down': !showUsers, 'fa fa-arrow-up' : showUsers }"></i>-->
                <!--</b-button>-->
                <!--<b-button @click="showTemplates = !showTemplates; showUsers = false"-->
                          <!--size="sm"-->
                          <!--variant="info">Шаблоны: {{ accountTemplates.length + " / " + account.template_limit }}-->
                    <!--&nbsp;<i :class="{'fa fa-arrow-down': !showTemplates, 'fa fa-arrow-up' : showTemplates }"></i>-->
                <!--</b-button>-->
            <!--</b-col>-->
            <!--<b-col cols="8"-->
                   <!--v-show="showUsers || showTemplates"-->
                   <!--style="padding: 15px; background-color: #ffffff; margin-top: 16px">-->
                <!--<table v-show="showUsers" class="table table-bordered">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>#</th>-->
                        <!--<th>Пользователь</th>-->
                        <!--<th>e-mail</th>-->
                        <!--<th class="w-140 text-center">-->
                            <!--<b-button v-if="account.user_limit > account.users.length"-->
                                      <!--variant="success"-->
                                      <!--v-b-modal.newUserModal-->
                                      <!--size="sm">добавить</b-button>-->
                            <!--<b-button v-else disabled size="sm" variant="default">добавить</b-button>-->
                        <!--</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr v-for="(user, index) in account.users">-->
                        <!--<td>{{ index + 1 }}</td>-->
                        <!--<td>{{ user.name }}</td>-->
                        <!--<td><a :href="'mailto:' + user.email + '?subject=Гедератор документов'">{{ user.email }}</a></td>-->
                        <!--<td class="text-center">-->
                            <!--<div v-if="user.email !== $auth.user().email">-->
                                <!--<b-button @click="toggleActive(index)" v-if="user.active" size="sm" variant="default" title="Заблокировать"><i class="fa fa-ban"></i></b-button>-->
                                <!--<b-button @click="toggleActive(index)" v-else size="sm" variant="success" title="Активировать"><i class="fa fa-check"></i></b-button>-->
                                <!--<b-button @click="deleteUser(index)" size="sm" variant="danger" title="Удалить"><i class="fa fa-trash"></i></b-button>-->
                            <!--</div>-->
                            <!--<div v-else>-->
                                <!--<b-button variant="success" size="sm">Это Вы</b-button>-->
                            <!--</div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
                <!--<table v-show="showTemplates" class="table table-bordered">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>#</th>-->
                        <!--<th>Шаблон</th>-->
                        <!--<th class="w-140 text-center">-->
                            <!--<b-button v-if="account.template_limit > accountTemplates.length"-->
                                      <!--variant="success"-->
                                      <!--v-b-modal.searchTemplateModal-->
                                      <!--size="sm">добавить</b-button>-->
                            <!--<b-button v-else disabled size="sm" variant="default">добавить</b-button>-->
                        <!--</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr v-for="(template, index) in accountTemplates">-->
                        <!--<td>{{ index + 1 }}</td>-->
                        <!--<td>{{ template.name }}</td>-->
                        <!--<td class="text-center">-->
                            <!--<b-button :to="{ name: 'template-setup', params: { template : template.id } }"-->
                                      <!--size="sm" variant="success"-->
                                      <!--title="Настроить">-->
                                <!--<i class="fa fa-cog"></i>-->
                            <!--</b-button>-->
                            <!--<b-button @click="deleteUser(index)"-->
                                      <!--size="sm"-->
                                      <!--variant="danger"-->
                                      <!--title="Удалить">-->
                                <!--<i class="fa fa-trash"></i>-->
                            <!--</b-button>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</b-col>-->
        <!--</b-row>-->

        <!--<b-modal id="newUserModal" ref="newUserModal" title="Добавить пользователя" @ok="addNewUser">-->
            <!--<div class="text-center">-->
                <!--<b-form autocomplete="off" method="post">-->
                    <!--<b-form-group id="loginLabel"-->
                                  <!--label="e-mail:"-->
                                  <!--label-for="login">-->
                        <!--<b-form-input id="login"-->
                                      <!--type="email"-->
                                      <!--v-model="modalUser.email"-->
                                      <!--required-->
                                      <!--placeholder="укажите e-mail адрес">-->
                        <!--</b-form-input>-->
                    <!--</b-form-group>-->
                    <!--<b-form-group id="fioLabel"-->
                                  <!--label="Имя пользователя:"-->
                                  <!--label-for="fio">-->
                        <!--<b-form-input id="fio"-->
                                      <!--type="text"-->
                                      <!--v-model="modalUser.name"-->
                                      <!--required-->
                                      <!--placeholder="Иван Иванов">-->
                        <!--</b-form-input>-->
                    <!--</b-form-group>-->
                <!--</b-form>-->
            <!--</div>-->
        <!--</b-modal>-->
        <!--<b-modal id="searchTemplateModal" ref="searchTemplateModal" title="Добавить пользователя" @ok="setTemplate">-->
            <!--<div class="text-center">-->
                <!--<b-form autocomplete="off" method="post">-->
                    <!--<b-form-group label="Группа шаблонов">-->
                        <!--<b-form-select @input="getTemplates" v-model="modalTemplate.group" class="mb-3">-->
                            <!--<template slot="first">-->
                                <!--<option :value="null" disabled>&#45;&#45; Please select an option &#45;&#45;</option>-->
                            <!--</template>-->
                            <!--<option v-for="group in modalTemplate.groupList" :value="group.id" >{{group.name}}</option>-->
                        <!--</b-form-select>-->
                    <!--</b-form-group>-->
                    <!--<b-form-group label="Группа шаблонов">-->
                        <!--<b-form-select v-model="modalTemplate.template" class="mb-3">-->
                            <!--<template slot="first">-->
                                <!--<option :value="null" disabled>&#45;&#45; Please select an option &#45;&#45;</option>-->
                            <!--</template>-->
                            <!--<option v-for="(template,index) in modalTemplate.templateList" :value="index" >{{template.name}}</option>-->
                        <!--</b-form-select>-->
                    <!--</b-form-group>-->
                <!--</b-form>-->
            <!--</div>-->
        <!--</b-modal>-->
    </b-container>
</template>

<script>
    import {mapGetters} from 'vuex';
    export default {
        name: "account-info",
        computed: {
            ...mapGetters({
                account:            'getAccount',
                accountTemplates:   'getAccountTemplates',
                loaded:             'checkAccountLoad',
            }),
            customTemplates:function() {
                return this.accountTemplates.filter(t => t.parent_id === null).length;
            },
            defaultTemplates:function() {
                return this.accountTemplates.filter(t => t.parent_id !== null).length;
            },
        },
    }

</script>

<style scoped>

</style>