<template>
    <b-container>
        <b-row class="justify-content-md-center">
            <b-col cols="12">
                <div class="w-100 bg-white p-2">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th width="40px">
                                <b-button @click="showMainTemplates = !showMainTemplates"
                                          size="sm" variant="success"
                                          title="Скрыть/Показать">
                                    <i class="fa" :class="{ 'fa-arrow-down': !showMainTemplates, 'fa-arrow-up': showMainTemplates }"></i>
                                </b-button>
                            </th>
                            <th>Шаблоны-шаблоны ({{mainTemplates.length +'/'+ account.template_limit}})</th>
                            <th class="w-140 text-center">
                                <b-button v-if="account.template_limit > mainTemplates.length"
                                          variant="success"
                                          v-b-modal.searchTemplateModal
                                          size="sm">добавить
                                </b-button>
                                <b-button v-else disabled size="sm" variant="default">добавить</b-button>
                            </th>
                        </tr>
                        </thead>
                        <tbody v-show="showMainTemplates">
                        <tr v-for="(template, index) in mainTemplates">
                            <td>{{ index + 1 }}</td>
                            <td>{{ template.name }}</td>
                            <td class="text-center">
                                <b-button :to="{ name: 'template-setup', params: { template : template.id } }"
                                          size="sm" variant="success"
                                          title="Настроить">
                                    <i class="fa fa-cog"></i>
                                </b-button>
                                <b-button @click="deleteTemplate(template.id)"
                                          size="sm"
                                          variant="danger"
                                          title="Удалить">
                                    <i class="fa fa-trash"></i>
                                </b-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </b-col>
        </b-row>
        <b-row class="justify-content-md-center">
            <b-col cols="12">
                <div class="w-100 bg-white p-2">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th width="40px">
                                <b-button @click="showUserTemplates = !showUserTemplates"
                                          size="sm" variant="success"
                                          title="Скрыть/Показать">
                                    <i class="fa" :class="{ 'fa-arrow-down': !showUserTemplates, 'fa-arrow-up': showUserTemplates }"></i>
                                </b-button>
                            </th>
                            <th>Пользовательские шаблоны ({{userTemplates.length}})</th>
                            <th class="w-140 text-center">
                                <b-button :to="{ name: 'acc-template-create', params: { id: 'new'}}"
                                        variant="success" size="sm">
                                    создать
                                </b-button>
                            </th>
                        </tr>
                        </thead>
                        <tbody v-show="showUserTemplates">
                        <tr v-for="(template, index) in userTemplates">
                            <td>{{ index + 1 }}</td>
                            <td>{{ template.name }}</td>
                            <td class="text-center">
                                <b-button :to="{ name: 'acc-template-create', params: { id: template.id}}"
                                          size="sm" variant="primary"
                                          title="Редактировать">
                                    <i class="fa fa-pencil"></i>
                                </b-button>
                                <b-button :to="{ name: 'template-create', params: { template : template.id } }"
                                          size="sm" variant="success"
                                          title="Настроить">
                                    <i class="fa fa-cog"></i>
                                </b-button>
                                <b-button @click="deleteTemplate(template.id)"
                                          size="sm"
                                          variant="danger"
                                          title="Удалить">
                                    <i class="fa fa-trash"></i>
                                </b-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </b-col>
        </b-row>


        <b-modal id="searchTemplateModal" ref="searchTemplateModal" title="Добавить шаблон" @ok="setTemplate">
            <div class="text-center">
                <b-form autocomplete="off" method="post">
                    <b-form-group label="Группа шаблонов">
                        <b-form-select @input="getTemplates" v-model="modalTemplate.group" class="mb-3">
                            <template slot="first">
                                <option :value="null" disabled>-- Please select an option --</option>
                            </template>
                            <option v-for="group in groupList"
                                    :value="group.id"><span>{{group.name}}</span> <span>({{group.templates_count}})</span></option>
                        </b-form-select>
                    </b-form-group>
                    <b-form-group label="Шаблон">
                        <b-form-select v-model="modalTemplate.template" class="mb-3">
                            <template slot="first">
                                <option :value="null" disabled>-- Please select an option --</option>
                            </template>
                            <option v-for="(template,index) in modalTemplate.templateList" :value="template.id">
                                {{template.name}}
                            </option>
                        </b-form-select>
                    </b-form-group>
                </b-form>
            </div>
        </b-modal>
    </b-container>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import TreeMenu from '../elements/TreeMenu';
    export default {
        name: "account-templates",
        components: {
            'tree-menu': TreeMenu,
        },
        data(){
            return {
                showMainTemplates: false,
                modalTemplate: {
                    group: null,
                    template: null,
                    templateList:[],
                },
                error: false,
                responseMessage: false,
                showUserTemplates: false,
            }
        },
        created(){
            if (!this.groupsLoaded){
                this.setGroups();
            }
        },
        computed: {
            ...mapGetters({
                account:            'getAccount',
                accountTemplates:   'getAccountTemplates',
                loaded:             'checkAccountLoad',
                groupsLoaded:       'getGroupsStatus',
                groupList:          'getGroups',
            }),
            userTemplates:function() {
                return this.accountTemplates.filter(t => t.parent_id === null);
            },
            mainTemplates:function() {
                return this.accountTemplates.filter(t => t.parent_id !== null);
            },
        },
        methods: {
            ...mapActions({
                setAccountTemplate: 'setAccountTemplateData',
                delAccountTemplate: 'delAccountTemplateData',
                setGroups:          'setGroupsAsync',
            }),
            getTemplates() {
                if (this.modalTemplate.group) {
                    this.axios.get('template-group/' + this.modalTemplate.group)
                        .then(response => {
                            this.modalTemplate.templateList = response.data.data.templates;
                        }).catch(error => {
                        this.error = error.response.data.message || error.message;
                    });
                }
            },
            setTemplate() {
                let tplId = this.modalTemplate.template;
                this.axios({
                    url: 'accounts/' + this.account.id,
                    method: 'PUT',
                    data: {
                        template: tplId,
                    }
                }).then(response => {
                    this.setAccountTemplate(response.data.data);
                    this.responseMessage = response.data.message || false;
                    this.$refs.searchTemplateModal.hide();
                    this.modalTemplate.template = this.modalTemplate.group = null;
                }).catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.formErrors = error.response.data.errors;
                });
            },
            deleteTemplate(templateId) {
                this.axios.delete('acc-templates/' + templateId)
                    .then(response => {
                        this.delAccountTemplate(templateId);
                    }).catch(error => {
                    this.error = error.response.data.message || error.message;
                });
            },
        }
    }
</script>

<style scoped>

</style>