<template>
    <b-container fluid>
        <b-row>
            <b-col cols="12" class="text-center">
                <table v-if="loaded" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Пользователь</th>
                        <th>e-mail</th>
                        <th class="w-140 text-center">
                            <b-button v-if="account.user_limit > account.users.length"
                                      variant="success"
                                      v-b-modal.newUserModal
                                      size="sm">добавить
                            </b-button>
                            <b-button v-else disabled size="sm" variant="default">добавить</b-button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(user, index) in account.users">
                        <td>{{ index + 1 }}</td>
                        <td>{{ user.name }}</td>
                        <td><a :href="'mailto:' + user.email + '?subject=Гедератор документов'">{{ user.email }}</a>
                        </td>
                        <td class="text-center">
                            <div v-if="user.email !== $auth.user().email">
                                <b-button @click="toggleActive(index)" v-if="user.active" size="sm" variant="default"
                                          title="Заблокировать"><i class="fa fa-ban"></i></b-button>
                                <b-button @click="toggleActive(index)" v-else size="sm" variant="success"
                                          title="Активировать"><i class="fa fa-check"></i></b-button>
                                <b-button @click="deleteUser(index)" size="sm" variant="danger" title="Удалить"><i
                                        class="fa fa-trash"></i></b-button>
                            </div>
                            <div v-else>
                                <b-button variant="success" size="sm">Это Вы</b-button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </b-col>
        </b-row>
        <b-modal id="newUserModal" ref="newUserModal" title="Добавить пользователя" @ok="addNewUser">
            <div class="text-center">
                <b-form autocomplete="off" method="post">
                    <b-form-group id="loginLabel"
                                  label="e-mail:"
                                  label-for="login">
                        <b-form-input id="login"
                                      type="email"
                                      v-model="modalUser.email"
                                      required
                                      placeholder="укажите e-mail адрес">
                        </b-form-input>
                    </b-form-group>
                    <b-form-group id="fioLabel"
                                  label="Имя пользователя:"
                                  label-for="fio">
                        <b-form-input id="fio"
                                      type="text"
                                      v-model="modalUser.name"
                                      required
                                      placeholder="Иван Иванов">
                        </b-form-input>
                    </b-form-group>
                </b-form>
            </div>
        </b-modal>
    </b-container>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    export default {
        name: "account-users",
        data(){
            return {
                showUsers: false,
                modalUser: {
                    email: '',
                    name: '',
                },
                error: false,
                responseMessage: false,
            }
        },
        watch: {
            error: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.e(newVal);
                }
                this.error = false;
            },
            responseMessage: function (newVal, oldVal) {
                if (newVal){
                    this.$toastr.s(newVal);
                }
                this.responseMessage = false;
            },
        },
        computed: {
            ...mapGetters({
                account:            'getAccount',
                loaded:             'checkAccountLoad',
            }),
        },
        methods:{
            ...mapActions({
                setAccountUser:     'setAccountUserData',
                delAccountUser:     'deleteAccountUserData',
                updateAccountUser:  'updateAccountUser',
            }),
            addNewUser(event) {
                event.preventDefault();
                let newUser = this.modalUser;
                axios.post('users', {
                    name: newUser.name,
                    email: newUser.email,
                }).then(response => {
                    this.setAccountUser(response.data.data);
                    this.responseMessage = response.data.message || false;
                    this.$refs.newUserModal.hide();
                }).catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.formErrors = error.response.data.errors ;
                });
                this.modalUser.name = this.modalUser.email = '';
            },
            toggleActive(uIndex){
                let editUser = this.account.users[uIndex];
                axios({
                    url: 'users/' + editUser.id,
                    method: 'PUT',
                    data: {
                        active: !editUser.active,
                    },
                }).then(response => {
                    this.updateAccountUser({ index: uIndex, data: { active: !editUser.active } });
                    this.responseMessage = response.data.message || false;
                }).catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.formErrors = error.response.data.errors ;
                });
            },
            deleteUser(uIndex){
                let editUser = this.account.users[uIndex];
                axios({
                    url: 'users/' + editUser.id,
                    method: 'DELETE',
                }).then(response => {
                    this.delAccountUser(uIndex);
                    this.responseMessage = response.data.message || false;
                }).catch(error => {
                    this.error = error.response.data.message || error.message;
                    this.formErrors = error.response.data.errors ;
                });
            },
        },
    }

</script>

<style scoped>

</style>