<template>
    <b-container class="accounts">
        <b-row v-if="!loading" class="justify-content-md-center">
            <b-col cols="10">
                <div class="w-100 bg-white p-2">
                    <b-table striped hover
                             :items="accounts"
                             :fields="fields"
                             :bordered="true"
                             :current-page="currentPage"
                             :per-page="perPage"
                             stacked="md">
                        <template slot="expire_in" slot-scope="data">
                            {{data.item.expire | lastDays}}
                        </template>
                        <template slot="actions" slot-scope="data">
                            <b-btn v-b-modal="'modal' + data.item.id"><i class="fa fa-eye"></i></b-btn>
                            <b-btn :to="{ name: 'profile-show', params: { id : data.item.id } }"><i class="fa fa-cog"></i></b-btn>
                            <b-btn v-if="!data.item.active"><i class="fa fa-ban"></i></b-btn>
                            <b-btn v-if="data.item.active"><i class="fa fa-check"></i></b-btn>
                            <b-modal :id="'modal' + data.item.id" :title="data.item.name" ok-only>
                                <div class="text-center"></div>
                                <p>Сотрудники: {{data.item.users_count}} / {{data.item.user_limit}}</p><br>
                                <p>Шаблоны: {{data.item.templates_count}} / {{data.item.template_limit}}</p><br>
                                <p>e-mail: {{data.item.email}}</p><br>
                            </b-modal>
                        </template>
                    </b-table>
                    <b-row v-if="totalRows > perPage" class="justify-content-md-center">
                        <b-col md="6" class="my-1">
                            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
                        </b-col>
                    </b-row>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        name: "catalogs-list",
        data() {
            return {
                loading: false,
                accounts: [],
                error: null,
                responseMessage: null,
                search: null,
                currentPage: 1,
                perPage: 10,
                totalRows: null,
                fields: [
                    {
                        key: 'id',
                        label: '#ID',
                        sortable: false
                    },
                    {
                        key: 'name',
                        label: 'организация',
                        sortable: true
                    },
                    {
                        key: 'expire_in',
                        label: 'Срок действия',
                        variant: 'secondary',
                        class: 'text-center w-160'
                    },
                    {
                        key: 'actions',
                        label: 'Управление',
                        variant: 'secondary',
                        class: 'text-center w-160'
                    },

                ],
            };
        },
        created() {
            this.getAccounts();
        },
        methods:{
            getAccounts() {
                this.error = null;
                this.loading = true;
                axios
                    .get('accounts')
                    .then(response => {
                        this.loading = false;
                        this.accounts = response.data.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            }
        }
    }
</script>

<style scoped>

</style>