<template>
    <b-container fluid>
        <b-row>
            <b-container>
                <b-row>
                    <transition name="fade" mode="out-in">
                        <router-view class="child-view"></router-view>
                    </transition>
                </b-row>
            </b-container>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        name: "index",
        mounted() {

        },
    }
</script>

<style scoped>

</style>