<template>
    <b-container fluid>
        <b-row v-if="loaded && account.id === $auth.user().account_id"
               class="justify-content-md-center fixed-center-menu">
            <sticky-buttons >
                <b-btn :to="{ name: 'profile-show' }" exact>Аккаунт</b-btn>
                <b-btn :to="{ name: 'account-users' }" exact>Пользователи</b-btn>
                <b-btn :to="{ name: 'account-templates' }" exact>Шаблоны</b-btn>
            </sticky-buttons>
        </b-row>
        <b-row class="justify-content-md-center account-header">
            <b-col cols="12" md="auto">
                <h1>{{ account.name }}</h1>
            </b-col>
        </b-row>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <p>
                    Статус:
                    <span v-if="account.active"><i class="fa fa-check"></i> Активен/Пауза/Бан/Срок действия истёк</span>
                    <span v-else><i class="fa fa-ban"></i> Заблокирован</span>
                </p>
            </b-col>
        </b-row>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <p>Срок действия подписки: {{account.expire | lastDays}}
                    <b-button size="sm" variant="info"><i class="fa fa-money"></i> продлить</b-button>
                </p>
            </b-col>
        </b-row>
        <b-row>
            <transition name="fade" mode="out-in">
                <router-view class="child-view justify-content-md-center container"></router-view>
            </transition>
        </b-row>
    </b-container>
</template>

<script>
    import Button from "bootstrap-vue/es/components/button/button";
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import StickyButtons from '../elements/StickyButtons'
    export default {
        components: {Button,StickyButtons},
        name: "account-show",
        props:['acc'],
        created(){
            if ( this.account.id !== this.acc ) { this.setAccount({ id: this.acc }) };
        },
        computed: {
            ...mapGetters({
                account:            'getAccount',
                loaded:             'checkAccountLoad',
            }),
        },
        methods: {
            ...mapActions({
                setAccount:         'setAccountAsync',
            }),
        }
    }
</script>

<style scoped>

</style>