<template>
    <b-container>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <h1>Пользовательский шаблон</h1>
            </b-col>
        </b-row>
        <b-row style="margin-top: 8px; margin-bottom: 8px;">
            <b-col cols="6">
                <b-form-group label="Статус: ">
                    <b-form-radio-group buttons
                                        button-variant="outline-info"
                                        size="sm"
                                        v-model="editableItem.status"
                                        :options="[ { text: 'скрыть', value: '1' },
                                                    { text: 'опубликовть', value: '2' },
                                                    ]"
                                        name="type" />
                </b-form-group>
            </b-col>
            <div class="error" v-if="error"><p>{{error}}</p></div>
        </b-row>
        <b-row style="margin-top: 8px; margin-bottom: 8px;">
            <b-col cols="12">
                <b-input-group prepend="Шаблон:">
                    <b-form-input v-model="editableItem.name"
                                  type="text"
                                  placeholder="укажите наименование шаблона"></b-form-input>
                    <b-input-group-append>
                        <b-btn variant="success"
                               @click="sendItem('post')">
                            Создать
                        </b-btn>
                        <b-btn v-if="id !== 'new'" variant="primary"
                               @click="sendItem('put', id)">
                            Обновить
                        </b-btn>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
            <div class="error" v-if="error"><p>{{error}}</p></div>
        </b-row>
        <b-row>
            <b-col cols="4" class="left-menu">
                <div class="unit-menu">
                    <ul>
                        <li v-for="(orderItem, order) in orders" :key="order" class="u-title">
                            <label>
                                #{{order}}
                                <input type="text" v-model="orderItem.order_title"/>
                                <i class="fa fa-trash pull-right"
                                   title="Удалить параграф"
                                   style="margin: 0 6px; padding: 6px 0; cursor: pointer;"
                                   @click="removeParagraph(order)"></i>
                            </label>
                            <ul v-if="orderItem.units.length > 0" class="pb-0">
                                <li v-for="(unit, uIndex) in orderItem.units" class="u-item">
                                    <label :for="unit.id + '-menu-' + order">{{unit.name}}</label>
                                    <i class="fa fa-minus pull-right"
                                       title="Удалить блок"
                                       style="margin: 0 6px; padding: 4px;cursor: pointer;"
                                       @click="removeUnit(order, uIndex)"></i>
                                </li>
                            </ul>
                            <b-button @click="addUnitItem(order)" size="sm" variant="info" style="position:relative; left:90%;"><i class="fa fa-plus"></i></b-button>
                        </li>
                    </ul>
                    <b-button variant='info' size="sm" class="m-1" @click="addUnitGroup()">Добавить параграф</b-button>
                </div>
            </b-col>
            <b-col cols="8" v-if="renderComponent">
                <div class="w-100 edit-field" v-for="(unit, index) in editableItem.units">
                    <input v-model="unit.name" class="unit-head">
                    <unit-editor @content="contentHandler" :index="index"
                            :defaultContent="unit.content"></unit-editor>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import { documentMap } from "./../../helpers.js"
    import editor from '../units/Editor'
    import {mapActions} from 'vuex';
    export default {
        name: "user-template-create",
        props:['id'],
        components: {
            'unit-editor' : editor,
        },
        data(){
            return {
                editableItem: {
                    id: false,
                    name: '',
                    template_id: null,
                    inputs:'',
                    units:[],
                    version: null,
                    parent_id:null,
                    status: 1,
                },
                renderComponent: true,
                inputList:[],
                orders:[],
                error: null,
                loading: true,
            }
        },
        created() {
            this.getTemplate();
        },
        watch:{
            'editableItem.status' (newVal, oldVal) {
                if (oldVal !== -1 && event.type === "message" && this.editableItem.id){
                    this.setStatus(newVal);
                }
            },
        },
        methods: {
            ...mapActions({
                addTemplate:    'setAccountTemplateData',
                updateAccount:  'setAccountAsync',
            }),
            documentMap,
            getTemplate: function() {
                if(this.id !== 'new'){
                    this.loading = true;
                    this.error = null;
                    axios.get('acc-templates/' + this.$route.params.id)
                        .then(response => {
                            this.editableItem = response.data.data;
                            this.loading = false;
                            this.renderMenu();
                        }).catch(error => {
                        this.loading = false;
                        this.error = error.message;
                    });
                } else {
                    this.editableItem.units.push({
                        content: "Пример текста",
                        id: -1,
                        name: "Название блока",
                        order: 0,
                        order_title: "Параграф/абзац 1",
                    });
                    this.renderMenu();
                    this.loading = false;
                }
            },
            sendItem(action, id = false){
                let formData = {};
                let tlpObj = this.editableItem;
                for (let item in tlpObj) {
                    formData[item] = tlpObj[item];
                }
                formData['inputs'] = JSON.stringify(this.documentMap());
                formData['orders'] = this.orders;
                axios({
                    url: 'acc-templates' + ( id ? ('/' + id ) : ''),
                    method: action,
                    data: formData
                }).then(response => {
                    if (!id){
                        this.addTemplate(response.data.data);
                    } else {
                        this.updateAccount({id: this.$auth.user().account_id})
                    }
                    this.$router.push({ name: 'account-templates', params: { acc : this.$auth.user().account_id }});
                }).catch(error => {
                    this.errors = error.response.data.errors || [error.message];
                });
            },
            setStatus(status){
                axios({
                    url: 'set-status/'+ this.editableItem.id,
                    method: 'post',
                    data: {'status': status}
                }).then(response => {
                    this.$toastr.s(response.data.message);
                }).catch(error => {
                    this.errors = error.response.data.errors || [error.message];
                });
            },
            addUnitGroup(){
                this.orders.push({'units': [],'order_title': '' });
            },
            addUnitItem(order, index){
                let newObj = {
                    id: -1,
                    order: order,
                    order_title: '',
                    name: '',
                    content: '',
                };
                let oIndex = this.orders[order].units.length;
                let prevItems = this.editableItem.units.filter(u => u.order < order).length;
                console.log(prevItems, oIndex);
                this.editableItem.units.splice(prevItems + oIndex, 0, newObj);
                this.orders[order].units.push(newObj);
                this.forceRerender();
            },
            renderMenu() {
                let unitList = this.editableItem.units;
                this.orders = [];
                for (let index in unitList){
                    if(unitList[index].order === this.orders.length) {
                        this.orders.push({'units': [],'order_title': unitList[index].order_title });
                    }
                    this.orders[unitList[index].order].units.push(unitList[index]);
                };
                this.inputList = this.editableItem.inputs ? JSON.parse(this.editableItem.inputs) : [];
            },
            newInput(data) {
                let index = document.getElementById('editor-index').value;
                this.$refs.field[index].handleInput(data);
            },
            contentHandler(data) {
                this.editableItem.units[data.index].content = data.content;
            },
            removeUnit(order, uIndex){
                let list = this.editableItem.units.findIndex(u => u.order === order);
                this.editableItem.units.splice( list + uIndex,1);
                this.orders[order].units.splice(uIndex,1);
                this.forceRerender();
            },
            removeParagraph(order){
                this.orders.splice(order,1);
                let start = this.editableItem.units.findIndex(u => u.order === order );
                let length = this.editableItem.units.filter(u => u.order === order ).length;
                this.editableItem.units.splice(start, length);
                for (let i = start; i < this.editableItem.units.length; i++){
                    this.editableItem.units[i].order --;
                }
                this.forceRerender();
            },
            forceRerender() {
                this.renderComponent = false;
                this.$nextTick(() => {
                    this.renderComponent = true;
                });
            }
        }
    }
</script>

<style scoped>

</style>