<template>
    <b-container>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <h1>Редактирование шаблона</h1>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="10" offset="1">
                <b-row style="margin-top: 8px; margin-bottom: 8px;">
                    <b-col cols="12">
                        <div class="error" v-if="error"><p>{{error}}</p></div>
                        <b-input-group prepend="Документ:">
                            <b-form-input v-model="editableItem.name"
                                          type="text"
                                          placeholder="Укажите наименование документа"></b-form-input>
                            <b-input-group-append>
                                <b-btn @click="sendItem('put', editableItem.id)" variant="success">Обновить</b-btn>
                                <b-btn @click="getOriginal" variant="info">Сброс настроек</b-btn>
                            </b-input-group-append>
                        </b-input-group>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="4" class="left-menu">
                <div class="unit-menu">
                    <ul v-if="!loading">
                        <li v-for="(order, index) in orders"
                            :key="index"
                            class="u-title">
                            <label>
                                {{order.order_title}}
                            </label>
                            <ul>
                                <li v-for="item in order.units"
                                    :key="item.id"
                                    class="u-item">
                                    <label>
                                        {{item.name}}
                                    </label>
                                    <a :href="'#unit' + item.id" @click="highlightBlock('unit' + item.id)"><i class="fa fa-lightbulb-o"></i></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <b-button @click="params">params</b-button>
            </b-col>
            <b-col cols="8">
                <div class="a-format">
                    <form id="fill-document" style="width: 16.5cm"  v-if="!loading">
                        <div v-for="(unit, uIndex) in editableItem.units"
                             :key="unit.id"
                             :data-pname="unit.name"
                             :id="'unit' + unit.id"
                             class="unit">
                            <div class="unitContainer" v-html="unit.content" :data-unit="uIndex"></div>
                        </div>
                    </form>
                </div>
            </b-col>
        </b-row>

        <b-modal ref="myModalRef" title="Редактирование поля ввода" @ok="changeUnit()">
            <div class="text-center">
                <b-form-group id="loginLabel"
                              label="заменить тестом:"
                              label-for="login">
                    <b-form-input id="login"
                                  type="text"
                                  v-model="modalParams.text"
                                  required
                                  placeholder="введите текст">
                    </b-form-input>
                </b-form-group>
                <div>
                    <label>Подключить справочник:</label>
                    <ul class="dir">
                        <li v-if="globalDir.length > 0" class="context-menu-item"><span>Справочник SUNRIZEⒸ</span>
                            <ul class="sub-menu">
                                <li v-for="directory in globalDir" class="context-menu-item">
                                    <span>{{directory.name}}</span>
                                    <ul class="sub-menu">
                                        <li v-for="column in directory.columns" class="context-menu-item">
                                            <span @click="changeUnit(directory.id + '|' + column.id)">{{column.title}}</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li v-if="localDir.length > 0" class="context-menu-item"><span>Загруженный справочник</span>
                            <ul class="sub-menu">
                                <li v-for="directory in localDir" class="context-menu-item">
                                    <span>{{directory.name}}</span>
                                    <ul class="sub-menu">
                                        <li v-for="column in directory.columns" class="context-menu-item">
                                            <span @click="changeUnit(directory.id + '|' + column.id)">{{column.title}}</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="w-100" v-show="false">
                    <label>Связать значение:</label>
                    <multiselect v-model="modalParams.dependency"
                                 :options="templateKeys"
                                 :multiple="false"
                                 :close-on-select="true"
                                 :preserve-search="true"
                                 placeholder="Выберите поле-источник"
                                 label="name"
                                 class="form-control p-0">
                    </multiselect>
                </div>
            </div>
        </b-modal>
    </b-container>
</template>

<script>
    export default {
        name: "edit",
        props: ['template'],
        data(){
            return {
                error: null,
                loading: true,
                editableItem: {
                    name: '',
                    units: [],
                    parent_id: null,
                },
                globalDir: [],
                localDir: [],
                templateKeys:[],
                rules:[],
                editedInput: null,
                modalParams: {
                    text: null,
                    catalog: null,
                    dependency:null,
                },
                orders: [],
                resetItem: 0,
            }
        },
        created(){
            this.getTemplate();
            this.getDirectories();
        },
        methods: {
            params() {
                console.log(this.templateKeys);
                console.log(this.modalParams);
            },
            getTemplate: function () {
                this.loading = true;
                this.error = null;
                axios.get('acc-templates/' + this.template)
                    .then(response => {
                        this.editableItem = response.data.data;
                        this.readMenu();
                        this.loading = false;
                        setTimeout(this.initChangeTools, 400);
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.message;
                });
            },
            getOriginal: function () {
                this.loading = true;
                this.error = null;
                axios.get('templates/' + this.editableItem.parent_id + '?option=set_default')
                    .then(response => {
                        this.editableItem = response.data.data;
                        this.loading = false;
                        this.resetItem = 1;
                        setTimeout(this.initChangeTools, 400);
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.message;
                });
            },
            getDirectories: function () {
                axios.get('catalogs')
                    .then(response => {
                        this.loading = false;
                        this.globalDir = response.data.data.global;
                        this.localDir = response.data.data.local;
                    }).catch(error => {
                    this.$toastr.e(error.response.data.message || error.message);
                });
            },
            sendItem: function(action, id = false){
                let formData = {};
                formData['units'] = this.editableItem.units;
                formData['orders'] = this.orders;
                axios({
                    url: 'acc-templates/' + this.editableItem.id,
                    method: 'PUT',
                    data: formData
                }).then(response => {
                    this.resetItem = false;
                    this.$router.back();
                }).catch(error => {
                    this.errors = error.response.data.errors || [error.message];
                });
            },
            changeUnit(prop = false) {
                let input = this.editedInput;
                let search = input.outerHTML;
                let replace = this.modalParams.text;
                if (prop || this.modalParams.dependency){
                    let modifyInput = input.cloneNode(true);
                    if(prop){
                        modifyInput.setAttribute('data-type', 'directory');
                        modifyInput.setAttribute('data-dir', prop);
                    } else {
                        modifyInput.setAttribute('data-relation', this.modalParams.dependency.id);
                    }
                    replace = modifyInput.outerHTML;
                }
                let unitKey = input.closest('.unitContainer').getAttribute('data-unit');
                let unit = this.editableItem.units[unitKey];
                unit.content = unit.content.replace(search, replace);
                let dataKey = input.getAttribute('data-key');
                console.log(unit);
                setTimeout(this.initChangeTools, 400);
                // this.editedUnits[unitKey] = unit;
                this.hideModal();
                this.editedInput = this.modalParams.text = this.modalParams.catalog = this.modalParams.dependency = null;
            },
            showModal () {
                this.editedInput = event.target;
                this.$refs.myModalRef.show();
            },
            hideModal () {
                this.$refs.myModalRef.hide();
            },
            readMenu() {
                let unitList = this.editableItem.units;
                for (let index in unitList){
                    if(unitList[index].order === this.orders.length) {
                        this.orders.push({'units': [],'order_title': unitList[index].order_title });
                    }
                    this.orders[unitList[index].order].units.push(unitList[index]);
                };
            },
            initChangeTools() {
                this.templateKeys = [];
                let inputList = document.querySelectorAll('#fill-document .input');
                inputList.forEach(input => {
                    input.addEventListener('focus', this.showModal);
                    let keyObj = {
                        id: input.getAttribute('data-key'),
                        name: 'Блок: ' + input.closest('.unit').getAttribute('data-pname')
                        + ', поле: ' + input.getAttribute('data-placeholder'),
                    };
                    this.templateKeys.push(keyObj)
                });
            },
            highlightBlock(htmlId){
                document.querySelectorAll('.unit').forEach(u => u.classList.remove('highlight-unit'));
                document.getElementById(htmlId).classList.add('highlight-unit');
            }
        }
    }
</script>

<style scoped>
    .sub-menu {
        left: 0;
        margin: 0;
        padding: 0;
        display: none;
        list-style: none;
        position: absolute;
        z-index: 2147483647;
        background-color: white;
        border: 1px solid #ebebeb;
        border-bottom-width: 0px;
        width: 180px;
    }

    .context-menu-item {
        display: flex;
        cursor: pointer;
        padding: 8px 15px;
        align-items: center;
        border-bottom: 1px solid #404040;
    }
    .sub-menu {
        left: 176px;
    }
    .context-menu-item span {display: block;}
    .context-menu-item:hover > ul {display: block;}
    .context-menu-item:hover {
        background-color: #ebebeb;
    }
</style>