<form @submit.prevent="insertInput">
    <label>
        {{$parent.locale["input title"]}}
        <input type="text" style="width: 300px" v-model="placeholder">
    </label>
    <br>
    <label>
        {{$parent.locale["input type"]}}
        <select @change="setDefaultPlaceholder" style="width: 300px" v-model="type">
            <option   value="text">{{$parent.locale["input text"]}}</option>
            <option   value="date">{{$parent.locale["input date"]}}</option>
            <option value="number">{{$parent.locale["input number"]}}</option>
            <option value="select">{{$parent.locale["input select"]}}</option>
        </select>
    </label>
    <div v-if="type === 'select'">
        <ul style="list-style: none; padding: 0; margin: 0;">
            <li v-for="(reply,index) in options">
                <input type="text" style="width: 300px; padding: 0; margin: 0" placeholder="вариант ответа" v-model="options[index]">
                <span v-if="index > 1" @click="options.splice(index,1)"><i class="fa fa-minus"></i></span>
            </li>
        </ul>
        <button type="button" @click="options.push('')">{{$parent.locale["add option"]}}</button>
    </div>
    <button type="submit">{{$parent.locale.save}}</button>
</form>