<template>
    <b-col :cols="set.cols" class="pb-3">
        <b-card :header="'<b>' + title + '</b>'"
                border-variant="info"
                align="center"
                header-bg-variant="info"
                header-text-variant="white"
                no-body
            >
            <b-list-group align="left">
                <b-list-group-item v-for="(item, index, key) in items" :key="item.id" :to="set.itemLink + item.id" class="p-1 pl-3">
                    {{item[set.itemTitle]}}
                </b-list-group-item>
                <b-list-group-item v-if="total && viewAll" :to="set.fullViewLink"><b>Показать все ({{total}})</b></b-list-group-item>
            </b-list-group>
        </b-card>
    </b-col>
</template>

<script>
    import Button from "bootstrap-vue/es/components/button/button";

    export default {
        components: {Button},
        name: "short-list",
        props: {
            title: String,
            viewAll: String,
            options: {
                type: Object,
                default: () => ({
                    cols: 4,
                    limit : 5,
                    itemTitle: '',
                    itemLink: '#',
                    fullViewLink: '#all',
                }),

            },
            items: Array,
        },
        data() {
            return {
                innerItems: null,
                total: false,
                set: {
                    itemTitle : '',
                    itemLink : '#',
                    fullViewLink : '#all',
                    cols : 4,
                    limit : 5,
                }
            }
        },
        created(){
            let i = 0;
            for (let item in this.set){
                this.set[item] = this.options[item] || this.set[item];
                i++;
            }
            this.innerItems = this.items;
            this.set.fullViewLink += this.viewAll;
        },
        watch: {
            innerItems: function (val, oldVal) {
                if (val.length > this.set.limit){
                    this.total = val.length;
                    this.innerItems = this.innerItems.splice(this.set.limit, this.total);
                }
            }
        },
        methods: {

        }
    }
</script>

<style scoped>

</style>