<template>
    <b-button-toolbar class="inner-menu">
        <b-button-group class="mx-1">
            <slot></slot>
        </b-button-group>
    </b-button-toolbar>
</template>

<script>
    export default {
        name: "sticky-buttons"
    }
</script>

<style scoped>

</style>