<template>
    <li class="nav-item" style="margin-left: 6px;">
        <span class="tree-item">
            <span v-if="children.length > 0" @click="show = !show" :class="classObject" style="position:absolute;">
            </span>
            <router-link class="nav-link"
                         style="display: inline;padding: 8px 16px 8px 4px;"
                         :to="{ name: route, params: { id : id}}">
                {{ name }}
                <b-badge class="pull-right" variant="primary" pill style="margin-right: 4px; margin-top:3px;">{{badge ? badge : '0'}}</b-badge>
            </router-link>
        </span>
        <ul class="nav flex-column" v-show="show">
            <tree-menu
                    v-for="(item, index) in children"
                    :id="item.id"
                    :route="route"
                    :key="index"
                    :badge-key="badgeKey"
                    :badge="item[badgeKey]"
                    :childKey="childKey"
                    :children="item[childKey]"
                    :name="item.name">
            </tree-menu>
        </ul>
    </li>
</template>

<script>
    export default {
        props: [ 'id', 'name', 'children', 'route', 'badge', 'badgeKey', 'childKey', ],
        name: "tree-menu",
        data() {
            return {
                show: false,
            }
        },
        computed: {
            classObject: function () {
                return {
                    'tree tree-plus': !this.show,
                    'tree tree-minus': this.show,
                }
            }
        },
    }
</script>

<style scoped>

</style>