<template>
    <b-navbar toggleable="md" type="dark" variant="secondary" class="site-header sticky-top">

        <b-navbar-brand :to="{ name: 'frontpage' }">SUNRIZE&#9400;</b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">
            <b-navbar-nav v-if="$auth.check()">
                <b-nav-item v-if="$auth.check(['admin'])"           :to="{ name: 'profiles-list' }">Пользователи</b-nav-item>
                <b-nav-item v-if="$auth.check(['admin'])"           :to="{ name: 'templates',
                            params: {
                            id: this.$route.name === 'templates' ? this.$route.params.id : 'all'
                            } }">Шаблоны</b-nav-item>
                <b-nav-item v-if="$auth.check(['company', 'user'])" :to="{ name: 'main-documents' }">Документы</b-nav-item>
                <b-nav-item v-if="$auth.check(['company','admin'])" :to="{ name: 'catalogs' }">Справочники</b-nav-item>
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">
                <b-button :to="{ name: 'test' }">test</b-button>
                <b-dropdown v-if="$auth.check()" :text="$auth.user().email + ' '" class="m-md-2" variant="gray" right>
                    <b-dropdown-item :to="{ name: 'profile-show', params: { acc : $auth.user().account_id } }">Кабинет компании</b-dropdown-item>
                    <b-dropdown-item href="#" @click.prevent="$auth.logout()">Выйти</b-dropdown-item>
                </b-dropdown>
                <b-dropdown v-else text="Авторизация" class="m-md-2" right>
                    <b-dropdown-item :to="{ name: 'login' }">Вход</b-dropdown-item>
                    <b-dropdown-item :to="{ name: 'register' }">Регистрация</b-dropdown-item>
                </b-dropdown>
            </b-navbar-nav>

        </b-collapse>
    </b-navbar>
</template>

<script>
    export default {
        name: "header-panel"
    }
</script>

<style scoped>

</style>