<template>
    <nav class="col-md-3 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <router-link :to="{ name: options.route , params: { id : 'all' } }">Все</router-link>
            <ul class="nav flex-column" style="margin-right: 10px">
                <tree-menu v-for="(item, index) in items"
                           :name="item.name"
                           :id="item.id"
                           :key="index"
                           :route="options.route"
                           :badge-key="options.badgeKey"
                           :badge="item[options.badgeKey]"
                           :childKey="options.childKey"
                           :children="item[options.childKey]"
                >
                </tree-menu>
            </ul>
        </div>
    </nav>
</template>

<script>
    import TreeMenu from '../elements/TreeMenu'
    export default {
        name: "nav-left",
        components: {
            TreeMenu,
            'tree-menu': TreeMenu,
        },
        props: ['items', 'options' ]
    }
</script>

<style scoped>

</style>