<template>
    <b-container fluid>
        <b-row>
            <b-col cols="10" offset="1">
                <div class="w-100 bg-white p-2">
                    <b-table v-if="!loading"
                             striped hover
                             :items="catalogs"
                             :fields="fields"
                             :bordered="true"
                             :current-page="currentPage"
                             :per-page="perPage"
                             stacked="md">
                        <template slot="actions" slot-scope="data">
                            <b-button-group>
                                <b-button :to="{ name:'catalog-show', params: { id: data.item.id , catalogName: data.item.name} }"
                                          variant="primary">
                                    <i class="fa fa-eye"></i>
                                </b-button>
                                <b-button variant="warning" @click="deleteItem(data.item.id, data.index)">
                                    <i class="fa fa-trash"></i>
                                </b-button>
                            </b-button-group>
                        </template>
                    </b-table>
                    <b-row v-if="totalRows > perPage" class="justify-content-md-center">
                        <b-col md="6" class="my-1">
                            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
                        </b-col>
                    </b-row>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        name: "catalogs-list",
        data() {
            return {
                loading: false,
                catalogs: null,
                error: null,
                currentPage: 1,
                perPage: 10,
                totalRows: 0,
                fields: [
                    {
                        key: 'id',
                        label: '#ID',
                        sortable: false
                    },
                    {
                        key: 'name',
                        label: 'Название',
                        sortable: true
                    },
                    {
                        key: 'created_at',
                        label: 'Дата создания',
                        sortable: true,
                        class: 'w-200'
                    },
                    {
                        key: 'actions',
                        label: 'Действия',
                        variant: 'secondary',
                        class: 'text-center w-140'
                    }
                ],
            };
        },
        created() {
            this.getList();
        },
        mounted() {

        },
        methods:{
            getList() {
                this.error = this.users = null;
                this.loading = true;
                axios
                    .get('catalogs')
                    .then(response => {
                        this.loading = false;
                        this.catalogs = response.data.data.local;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            deleteItem() {

            },
        }
    }
</script>

<style scoped>

</style>