<template>
    <b-container fluid>
        <b-row class="justify-content-md-center fixed-center-menu">
            <sticky-buttons>
                <b-btn :to="{name: 'catalogs' }" exact>Управление справочниками</b-btn>
                <b-btn :to="{name: 'catalogs-add' }">Загрузка справочников</b-btn>
            </sticky-buttons>
        </b-row>
        <b-row>
        <transition name="fade" mode="out-in">
            <router-view class="child-view"></router-view>
        </transition>
        </b-row>
    </b-container>
</template>

<script>
    import StickyButtons from '../elements/StickyButtons'
    export default {
        components : {
            StickyButtons
        },
        name: "index",
        mounted() {

        },
        methods:{

        }
    }
</script>

<style scoped>

</style>