<template>
    <b-container fluid>
        <b-row>
            <b-col cols="12">
                <div class="w-100 bg-white p-2 scroll"
                     @scroll="scroll()">
                    <b-table v-if="fields.length > 0"
                             striped hover
                             :items="values"
                             :fields="fields"
                             :bordered="true"
                             stacked="md">
                    </b-table>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import Button from "bootstrap-vue/es/components/button/button";

    export default {
        components: {Button},
        name: "catalog-show",
        props:[
            'catalogName',
        ],
        data(){
            return {
                catalog: null,
                values:[],
                name: null,
                editableId: null,
                fields: [],
            }
        },
        created(){
            this.getCatalogItems();
        },
        mounted() {

        },
        methods: {
            params() {
                console.log(this.values);
            },
            getCatalogItems() {
                this.error = this.catalog = null;
                this.loading = true;
                axios.get('catalogs/' + this.$route.params.id)
                    .then(response => {
                        this.loading = false;
                        this.catalog = response.data.catalog;
                        this.fields = response.data.columns;
                        this.values = response.data.values;
                        this.name = this.catalog.name || null;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            },
            scroll: function() {
                let element = this.$el.querySelector('.scroll');
                let bottomOfWindow = ( element.scrollTop + element.clientHeight === element.scrollHeight );
                if (bottomOfWindow) {
                    axios.get('catalogs/' + this.catalog.id + '?count=' + Object.keys(this.values).length)
                        .then(response => {
                            [...this.values] = [...this.values, ...response.data.data];
                        });
                }
            },
            createListItem: function (index, obj) {
                let item = new Object();
                item[index] = obj;
                return item;
            },
            editItem:function (itemId) {
                this.editableId = itemId;
                event.target.closest('th').querySelector('b').setAttribute('contenteditable','true');
                console.log(itemId);
            }
        }
    }
</script>

<style scoped>
.white-box {
    background: #e8e8e8;
    padding: 25px;
    margin-bottom: 15px;
}
</style>