<template>
    <b-container>
        <b-row class="justify-content-md-center">
            <b-col cols="12" md="auto">
                <h3 class="box-title m-b-0">Создание пользовательского справочника</h3>
            </b-col>
        </b-row>
        <b-row class="justify-content-md-center">
            <b-col cols="6">
                <div v-if="errors" class="error">
                    <ul class="list-unstyled">
                        <li v-for="error in errors">
                            <div class="alert alert-danger">
                                <p v-for="message in error">{{message}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="padding: 16px; border: 1px solid #007bff; border-radius: 8px; background-color: #FFF">
                    <b-form @submit="sendFile" @reset="onReset">
                        <b-form-group id="exampleInputGroup1"
                                      label="Наименование справочника"
                                      label-for="exampleInput1">
                            <b-form-input id="exampleInput1"
                                          type="text"
                                          v-model="catalogName"
                                          required
                                          placeholder="Укажите наименование ">
                            </b-form-input>
                        </b-form-group>
                        <div class="form-group">
                            <div v-if="fileName" class="alert alert-warning" style="margin-bottom: 6px">
                                {{fileName}}
                            </div>
                        </div>
                        <label class="btn btn-primary">
                            <input style="display: none;" type="file" id="file" ref="file" v-on:change="handleFileUpload()" accept=".csv"/>
                            {{label}}
                        </label>
                        <b-button :disabled="disabled" type="submit" variant="success" class="pull-right">Загрузить</b-button>
                        <b-button type="reset" variant="danger" class="pull-right mr-2">Очистить форму</b-button>
                    </b-form>
                </div>
                <b-modal v-model="show"
                         title="Успех!"
                         size="sm"
                         class="text-center">
                    <b>Файл обрабатывается.</b>
                    <div slot="modal-footer" class="w-100">
                        <b-btn size="sm" class="float-right" variant="primary" @click="show=false">
                            &nbsp;&nbsp;OK&nbsp;&nbsp;
                        </b-btn>
                    </div>
                </b-modal>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        name: "upload",
        data(){
            return {
                file: null,
                fileName: null,
                errors: null,
                label: 'Выбрать файл',
                catalogName:'',
                show: false,
                disabled: null,
            }
        },
        methods: {
            onReset() {
                this.catalogName = '';
                this.label = 'Выбрать файл';
                this.file = this.fileName = this.errors = this.disabled = null;
            },
            sendFile: function (event) {
                this.disabled = true;
                event.preventDefault();
                if(this.file === null){
                    this.errors = [{'message' : 'Файл не выбран.'}];
                    this.disabled = false;
                } else {
                    let formData = new FormData();
                    formData.append('file', this.file);
                    formData.append('name', this.catalogName);
                    axios
                        .post('catalogs', formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                        .then(response => {
                            this.onReset();
                            this.show = true;
                            console.log(response);
                        }).catch(error => {
                        this.errors = error.response.data.errors || [error.message];
                    });
                }
            },
            handleFileUpload(){
                this.errors = null;
                this.fileName = this.$refs.file.files[0].name || null;
                this.file = this.$refs.file.files[0];
                this.label = 'Заменить файл';
            }
        }
    }
</script>

<style scoped>
.white-box {
    background: #e8e8e8;
    padding: 25px;
    margin-bottom: 15px;
}
</style>